In [20]:
import pandas as pd
import numpy as np
import statistics
import csv
from sklearn import metrics
from xgboost import XGBClassifier
import random
import math
from sklearn.preprocessing import StandardScaler 
from sklearn.neural_network import MLPClassifier

In [18]:
#Extracting The Spatial Feature

def spatial_two (Node_class, Adj,n):
    F_vec=[]
    for i in range(n):
        #print("\rProcessing file {} ({}%)".format(i, 100*i//(n-1)), end='', flush=True)
        node_F=[]
        list_out=[]
        list_In=[]
        S_nbd_out=[]
        S_nbd_in=[]
        for j in range(n):
            if Adj[i][j]==1 and i!=j:
                list_out.append(Adj[j][j])
                for k in range(n):
                    if A[j][k]==1 and k!=j:
                        S_nbd_out.append(Adj[k][k])
            if Adj[j][i]==1 and i!=j:
                list_In.append(A[j][j])
                for k in range(n):
                    if Adj[k][j]==1 and k!=j:
                        S_nbd_in.append(Adj[k][k])

        for d in Node_class:
            count=0
            count_in=0
            for k in range(len(list_out)):
                if list_out[k]==d:
                    count=count+1
            node_F.append(count)
            for k in range(len(list_In)):
                if list_In[k]==d:
                    count_in=count_in+1
            node_F.append(count_in)
        for d in Node_class:
            count_S_out=0
            count_S_in=0
            for k in range(len(S_nbd_out)):
                if S_nbd_out[k]==d:
                    count_S_out=count_S_out+1
            node_F.append(count_S_out)
            for k in range(len(S_nbd_in)):
                if S_nbd_in[k]==d:
                    count_S_in=count_S_in+1
            node_F.append(count_S_in)
        F_vec.append(node_F)
    return F_vec

# Wisconsin

In [217]:
from urllib.request import urlopen
p_data=urlopen("https://raw.githubusercontent.com/class-contrast/NodeClassification/main/Datasets/WebKb/Wisconsin/out1_graph_edges.txt")
er=[]
for line in p_data:
    output = line.decode()
    er.append(output)
myls=list(er)
mylist = [line.rstrip('\n') for line in myls]
mylist.pop(0)
print(mylist)

['63\t78', '63\t92', '27\t63', '27\t111', '110\t12', '98\t63', '98\t27', '98\t244', '98\t147', '98\t86', '98\t163', '98\t132', '98\t175', '98\t19', '98\t17', '98\t190', '98\t102', '98\t114', '98\t170', '98\t243', '98\t6', '98\t57', '98\t67', '98\t211', '98\t29', '98\t33', '98\t144', '98\t109', '98\t96', '98\t204', '98\t52', '98\t59', '98\t60', '98\t4', '98\t131', '98\t174', '98\t113', '98\t82', '98\t25', '98\t54', '98\t138', '98\t213', '98\t41', '98\t177', '98\t171', '98\t172', '98\t125', '98\t8', '98\t123', '98\t145', '98\t111', '98\t139', '98\t137', '98\t76', '98\t45', '98\t238', '98\t15', '98\t153', '98\t32', '98\t235', '98\t230', '98\t237', '98\t192', '98\t168', '98\t173', '98\t28', '98\t104', '98\t124', '98\t135', '98\t2', '98\t68', '98\t205', '98\t169', '98\t229', '98\t88', '98\t16', '98\t157', '98\t1', '98\t227', '98\t154', '98\t10', '98\t184', '98\t22', '98\t75', '98\t220', '98\t216', '98\t12', '98\t80', '98\t146', '98\t95', '98\t209', '98\t94', '98\t133', '98\t187', '98\t55', '98\t129', '98\t78', '98\t189', '98\t93', '98\t92', '98\t182', '98\t14', '98\t11', '98\t47', '98\t193', '98\t126', '98\t37', '98\t40', '98\t99', '98\t130', '98\t18', '98\t155', '98\t35', '98\t203', '98\t134', '98\t56', '98\t69', '98\t23', '98\t167', '98\t202', '98\t105', '98\t183', '98\t44', '98\t77', '98\t13', '98\t58', '98\t218', '64\t57', '64\t234', '64\t12', '212\t75', '231\t185', '231\t143', '231\t75', '198\t231', '198\t147', '186\t147', '186\t67', '186\t131', '186\t160', '186\t238', '186\t15', '244\t138', '244\t187', '147\t198', '147\t67', '147\t160', '147\t238', '147\t151', '147\t184', '86\t204', '86\t52', '103\t29', '103\t41', '103\t51', '163\t93', '175\t36', '188\t128', '188\t178', '188\t173', '128\t188', '128\t207', '128\t178', '128\t173', '207\t208', '207\t178', '207\t173', '208\t178', '208\t173', '190\t204', '190\t52', '176\t53', '102\t85', '102\t31', '48\t221', '48\t211', '114\t204', '114\t52', '170\t243', '170\t6', '170\t54', '170\t35', '243\t170', '6\t170', '57\t204', '57\t52', '211\t97', '211\t115', '211\t5', '29\t41', '29\t126', '233\t142', '144\t144', '144\t12', '108\t144', '118\t198', '118\t37', '96\t217', '96\t112', '20\t170', '20\t243', '20\t149', '20\t35', '204\t190', '204\t57', '204\t97', '204\t115', '204\t49', '204\t66', '204\t5', '97\t211', '97\t45', '97\t168', '0\t20', '0\t28', '0\t104', '0\t99', '0\t200', '7\t0', '7\t242', '242\t170', '242\t6', '242\t233', '242\t109', '242\t7', '242\t150', '242\t194', '242\t215', '242\t171', '242\t38', '242\t149', '242\t24', '242\t249', '242\t28', '242\t205', '242\t148', '242\t21', '242\t74', '242\t167', '242\t202', '217\t96', '217\t217', '112\t112', '4\t195', '158\t229', '199\t84', '199\t8', '199\t145', '199\t32', '53\t33', '53\t216', '53\t195', '89\t211', '89\t216', '89\t195', '89\t202', '152\t57', '152\t211', '152\t216', '152\t12', '152\t105', '34\t132', '34\t104', '91\t171', '91\t123', '91\t145', '178\t41', '178\t173', '178\t122', '178\t180', '241\t29', '241\t41', '241\t51', '113\t25', '82\t25', '25\t113', '25\t82', '228\t25', '156\t152', '156\t143', '156\t172', '156\t225', '156\t183', '160\t67', '160\t61', '160\t232', '116\t20', '87\t54', '87\t229', '127\t54', '54\t170', '54\t2', '54\t159', '54\t119', '54\t46', '54\t165', '54\t129', '150\t194', '194\t150', '138\t100', '106\t93', '41\t29', '41\t178', '245\t32', '245\t168', '245\t104', '240\t104', '51\t241', '51\t39', '70\t204', '70\t52', '39\t51', '215\t171', '171\t215', '171\t171', '172\t156', '38\t145', '145\t38', '224\t137', '83\t20', '83\t90', '90\t83', '45\t97', '45\t115', '45\t5', '71\t204', '71\t52', '141\t97', '141\t115', '141\t5', '153\t153', '196\t32', '32\t97', '32\t115', '32\t5', '225\t156', '49\t204', '49\t52', '162\t51', '192\t73', '192\t112', '192\t34', '192\t41', '192\t125', '192\t192', '192\t173', '192\t140', '192\t122', '192\t31', '81\t97', '81\t115', '81\t5', '223\t89', '223\t202', '168\t97', '168\t115', '168\t5', '201\t207', '201\t8', '26\t201', '173\t65', '173\t26', '173\t226', '173\t182', '173\t122', '149\t62', '24\t62', '164\t37', '166\t191', '249\t117', '117\t249', '117\t117', '28\t28', '28\t104', '2\t54', '68\t126', '205\t169', '169\t205', '169\t169', '79\t132', '79\t29', '79\t213', '79\t68', '79\t79', '79\t193', '79\t126', '79\t69', '148\t229', '229\t148', '236\t97', '236\t115', '236\t5', '197\t84', '197\t232', '197\t209', '197\t37', '197\t13', '151\t37', '121\t42', '121\t161', '121\t120', '50\t230', '50\t135', '50\t85', '50\t72', '50\t44', '50\t31', '120\t121', '120\t161', '120\t157', '120\t120', '154\t209', '184\t156', '184\t75', '21\t22', '22\t21', '22\t22', '210\t225', '210\t183', '179\t158', '75\t199', '75\t156', '75\t172', '75\t153', '75\t184', '75\t183', '75\t77', '12\t12', '232\t209', '66\t3', '3\t204', '3\t52', '146\t136', '222\t20', '5\t32', '101\t97', '101\t115', '101\t5', '140\t140', '226\t41', '119\t129', '46\t54', '46\t119', '46\t129', '165\t159', '165\t129', '129\t54', '129\t159', '129\t119', '129\t46', '129\t165', '78\t87', '189\t171', '189\t93', '92\t163', '92\t170', '92\t161', '92\t93', '11\t87', '11\t127', '47\t11', '126\t29', '126\t68', '126\t69', '214\t37', '37\t191', '37\t214', '37\t37', '122\t178', '122\t41', '130\t139', '130\t18', '248\t132', '181\t155', '155\t204', '155\t52', '155\t181', '246\t97', '246\t115', '246\t5', '35\t20', '250\t35', '200\t247', '180\t178', '30\t204', '30\t52', '74\t203', '203\t74', '203\t203', '69\t29', '69\t41', '69\t126', '167\t202', '202\t167', '43\t217', '183\t156', '44\t178', '44\t241', '44\t41', '44\t9', '44\t173', '44\t140', '44\t182', '44\t122', '44\t31', '107\t217', '107\t124', '107\t10', '107\t183', '239\t167', '206\t33', '206\t171', '206\t201', '58\t12', '219\t63']

In [218]:
mynode=[]
i=0
for d in mylist:
    d=mylist[i].split("\t")
    mynode.append(int(d[0]))
    mynode.append(int(d[1]))
    i=i+1
#print(mynode)
node_ID1=np.unique(mynode)
node_ID=list(node_ID1)
print(node_ID)
n=len(node_ID)
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250]
251

In [219]:
A=np.zeros((n,n))
i=0
for d in mylist:
    d=mylist[i].split("\t")
    A[node_ID.index(int(d[0]))][node_ID.index(int(d[1]))]=1
    i=i+1;
print(" The adjacency Matrix")
print("=======================")
print(A)

 The adjacency Matrix
=======================
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [220]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/class-contrast/NodeClassification/main/Datasets/WebKb/Wisconsin/out1_node_feature_label.txt',sep='\s+')
df.head()

   node_id                                            feature  label
0        0  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,...      1
1        1  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      2
2        2  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      2
3        3  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      2
4        4  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      1

In [221]:
fe=df["feature"].to_numpy()
lst_Class=df["label"].to_numpy()
lst_ID=df["node_id"].to_numpy()

lst_Fe=[]
for row in fe:
    d=row.split(',')
    fev=[]
    for j in range(len(d)):
            fev.append(int(d[j]))
    lst_Fe.append(fev)

In [222]:
feature_names = ["w_{}".format(ii) for ii in range(1703)]
Data=pd.DataFrame(lst_Fe,columns=feature_names)
Data.insert(loc=1703,column='Class',value=lst_Class)
Data.head()

,w_0,w_1,w_2,w_3,w_4,w_5,w_6,w_7,w_8,w_9,...,w_1694,w_1695,w_1696,w_1697,w_1698,w_1699,w_1700,w_1701,w_1702,Class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [223]:
Class=lst_Class.copy()

In [224]:
#CLUSTERING DATA ACCORDING TO CLASS
Data_0=Data.loc[Data['Class'] == 0]
Data_1=Data.loc[Data['Class'] == 1]
Data_2=Data.loc[Data['Class'] == 2]
Data_3=Data.loc[Data['Class'] == 3]
Data_4=Data.loc[Data['Class'] == 4]
Data_1.head()

,w_0,w_1,w_2,w_3,w_4,w_5,w_6,w_7,w_8,w_9,...,w_1694,w_1695,w_1696,w_1697,w_1698,w_1699,w_1700,w_1701,w_1702,Class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [225]:
# FINDING THE INCLUSIVE REPRESENTATIVE

Basis_0=[]
Basis_1=[]
Basis_2=[]
Basis_3=[]
Basis_4=[]
for i in range(1703):
    W="w_{}".format(i)
    Basis_0.append(max(Data_0[W].to_numpy()))
    Basis_1.append(max(Data_1[W].to_numpy()))
    Basis_2.append(max(Data_2[W].to_numpy()))
    Basis_3.append(max(Data_3[W].to_numpy()))
    Basis_4.append(max(Data_4[W].to_numpy()))
#W1=Data_0['w_0'].to_numpy()
#print(max(W1))
print(Basis_0)
count0=0
count1=0
for i in range(1703):
    if Basis_0[i]==1:
        count1=count1+1
    else:
        count0=count0+1
print(count0)
print(count1)

[0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0]
1153
550

In [226]:
# FINDING THE SELECTIVE REPRESENTATIVE

SBasis_0=[]
SBasis_1=[]
SBasis_2=[]
SBasis_3=[]
SBasis_4=[]
#for i in range(14):
 #   W="w_{}".format(i)
  #  print(list(Data_0[W].to_numpy()).count(1))
for i in range(1703):
    W="w_{}".format(i)
    if list(Data_0[W].to_numpy()).count(1)>=int(len(Data_0.index)*0.1):
        SBasis_0.append(1)
    else:
        SBasis_0.append(0) 
    if list(Data_1[W].to_numpy()).count(1)>=int(len(Data_1.index)*0.1):
        SBasis_1.append(1)
    else:
        SBasis_1.append(0)
    if list(Data_2[W].to_numpy()).count(1)>=int(len(Data_2.index)*0.1):
        SBasis_2.append(1)
    else:
        SBasis_2.append(0)
    if list(Data_3[W].to_numpy()).count(1)>=int(len(Data_3.index)*0.1):
        SBasis_3.append(1)
    else:
        SBasis_3.append(0)
    if list(Data_4[W].to_numpy()).count(1)>=int(len(Data_4.index)*0.1):
        SBasis_4.append(1)
    else:
        SBasis_4.append(0)

#W1=Data_0['w_0'].to_numpy()
#print(max(W1))
print(SBasis_3)
count0=0
count1=0
for i in range(1703):
    if SBasis_2[i]==1:
        count1=count1+1
    else:
        count0=count0+1
print(count0)
print(count1)

[1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1]
1556
147

In [227]:
# FEATURE VECTOR USING INCLUSIVE REPRESENTATIVE

Fec=[]
for i in range(n):
    vec=[]
    f=Data.loc[i, feature_names].values.flatten().tolist()
    count=0
    count1=0
    count2=0
    count3=0
    count4=0
    for j in range(1703):
        if f[j]==1 and Basis_0[j]==1:
            count=count+1;
        if f[j]==1 and Basis_1[j]==1:
            count1=count1+1;
        if f[j]==1 and Basis_2[j]==1:
            count2=count2+1;
        if f[j]==1 and Basis_3[j]==1:
            count3=count3+1;
        if f[j]==1 and Basis_4[j]==1:
            count4=count4+1;

    vec.append(count)
    vec.append(count1)
    vec.append(count2)
    vec.append(count3)
    vec.append(count4)

    #print(f)
    f.clear()
    Fec.append(vec)
print(Fec)

[[46, 72, 68, 59, 56], [39, 47, 49, 45, 45], [42, 48, 51, 49, 48], [27, 32, 33, 29, 27], [36, 64, 63, 58, 43], [81, 145, 129, 122, 103], [131, 242, 208, 176, 165], [35, 48, 48, 45, 37], [52, 69, 78, 67, 61], [85, 82, 83, 78, 72], [41, 43, 47, 45, 42], [52, 65, 70, 67, 60], [45, 53, 60, 55, 50], [50, 62, 74, 62, 58], [37, 42, 42, 42, 38], [50, 53, 63, 60, 56], [45, 47, 54, 45, 43], [36, 39, 41, 37, 34], [47, 61, 66, 66, 52], [22, 26, 26, 24, 22], [30, 48, 46, 39, 38], [79, 129, 115, 92, 88], [26, 30, 33, 28, 25], [44, 56, 67, 60, 56], [61, 97, 88, 76, 64], [82, 113, 116, 126, 99], [55, 94, 86, 83, 66], [81, 120, 126, 141, 120], [76, 142, 122, 112, 100], [46, 56, 69, 63, 59], [14, 14, 14, 14, 14], [75, 92, 108, 105, 92], [65, 72, 74, 65, 62], [28, 34, 36, 33, 28], [113, 205, 180, 177, 159], [138, 249, 220, 179, 168], [36, 74, 70, 68, 60], [83, 100, 114, 118, 98], [90, 152, 126, 112, 108], [36, 39, 41, 41, 38], [42, 49, 59, 44, 46], [55, 60, 67, 61, 57], [47, 84, 72, 69, 60], [42, 54, 70, 58, 48], [75, 93, 99, 104, 105], [37, 47, 48, 44, 37], [40, 67, 65, 67, 77], [83, 106, 109, 119, 105], [84, 144, 131, 114, 101], [22, 25, 25, 23, 23], [63, 71, 75, 79, 82], [95, 171, 177, 188, 202], [86, 133, 121, 107, 98], [26, 44, 39, 35, 26], [122, 200, 215, 239, 196], [48, 52, 61, 56, 47], [44, 46, 51, 48, 43], [43, 60, 63, 49, 48], [73, 105, 109, 121, 97], [33, 51, 48, 43, 42], [33, 51, 48, 43, 42], [38, 39, 42, 41, 37], [23, 25, 25, 24, 25], [63, 83, 91, 92, 94], [49, 59, 60, 57, 61], [35, 38, 42, 40, 40], [59, 76, 73, 60, 59], [190, 165, 176, 141, 137], [76, 95, 107, 96, 88], [50, 59, 70, 66, 61], [31, 37, 40, 35, 36], [74, 88, 101, 74, 80], [72, 97, 103, 90, 81], [66, 77, 94, 92, 82], [46, 67, 61, 53, 54], [111, 142, 152, 167, 143], [41, 49, 51, 46, 45], [96, 128, 157, 144, 131], [59, 100, 92, 89, 84], [39, 42, 44, 44, 44], [48, 69, 71, 65, 51], [20, 23, 23, 23, 19], [40, 66, 63, 57, 55], [32, 58, 49, 37, 33], [41, 63, 60, 55, 43], [36, 36, 40, 39, 36], [38, 41, 49, 42, 41], [42, 80, 68, 64, 52], [42, 44, 51, 44, 43], [58, 101, 96, 87, 76], [25, 25, 26, 24, 23], [58, 81, 78, 72, 69], [67, 87, 90, 85, 96], [103, 162, 169, 184, 167], [39, 41, 44, 40, 36], [46, 51, 66, 52, 48], [36, 44, 46, 43, 35], [81, 145, 129, 122, 103], [65, 87, 84, 76, 72], [37, 40, 41, 39, 38], [117, 105, 108, 100, 88], [34, 45, 45, 45, 40], [55, 64, 67, 70, 59], [19, 21, 22, 22, 20], [102, 137, 162, 136, 120], [48, 63, 79, 55, 64], [22, 23, 24, 24, 20], [121, 187, 203, 232, 187], [74, 118, 106, 98, 89], [73, 74, 87, 68, 68], [60, 94, 81, 74, 77], [71, 87, 101, 94, 84], [118, 233, 201, 185, 157], [67, 125, 111, 108, 94], [34, 32, 36, 34, 31], [81, 145, 129, 122, 103], [35, 67, 56, 44, 40], [62, 75, 81, 73, 63], [129, 165, 193, 212, 174], [41, 63, 68, 69, 78], [50, 63, 70, 67, 65], [87, 133, 141, 160, 135], [52, 58, 67, 63, 59], [39, 54, 58, 53, 45], [76, 91, 108, 101, 91], [48, 55, 61, 59, 57], [109, 165, 179, 199, 166], [176, 345, 297, 281, 248], [25, 39, 37, 38, 34], [47, 62, 73, 67, 67], [33, 51, 48, 43, 42], [100, 89, 91, 82, 78], [92, 114, 136, 109, 108], [78, 102, 121, 91, 82], [38, 41, 43, 39, 38], [35, 32, 35, 33, 32], [39, 48, 53, 37, 40], [72, 101, 110, 125, 101], [135, 114, 127, 110, 97], [48, 53, 55, 49, 43], [40, 42, 46, 44, 40], [13, 13, 14, 13, 13], [31, 36, 44, 32, 33], [136, 125, 119, 112, 101], [85, 114, 125, 134, 109], [68, 89, 97, 83, 72], [170, 267, 286, 341, 253], [177, 252, 249, 257, 304], [62, 109, 96, 80, 72], [40, 65, 57, 47, 41], [43, 80, 68, 60, 51], [31, 26, 28, 30, 31], [51, 71, 68, 64, 58], [61, 73, 81, 78, 71], [58, 71, 80, 71, 60], [59, 85, 94, 86, 78], [82, 125, 128, 126, 138], [61, 110, 116, 111, 131], [52, 95, 84, 77, 70], [31, 50, 50, 49, 57], [104, 137, 142, 168, 148], [140, 247, 247, 252, 296], [13, 13, 13, 13, 13], [44, 53, 58, 56, 51], [48, 58, 65, 64, 62], [45, 73, 75, 80, 90], [27, 30, 31, 30, 25], [49, 87, 77, 60, 55], [45, 63, 65, 59, 53], [86, 111, 129, 104, 96], [114, 174, 191, 171, 152], [56, 73, 80, 64, 56], [55, 57, 67, 60, 56], [142, 239, 258, 287, 222], [44, 49, 52, 49, 48], [76, 104, 103, 110, 95], [69, 99, 108, 114, 97], [113, 172, 203, 163, 155], [128, 203, 223, 245, 206], [72, 97, 106, 113, 103], [86, 110, 137, 123, 101], [17, 21, 21, 18, 20], [56, 82, 96, 86, 79], [71, 68, 68, 68, 66], [140, 217, 228, 236, 261], [44, 45, 49, 48, 46], [1, 1, 1, 1, 1], [164, 143, 153, 141, 133], [32, 47, 45, 43, 42], [97, 195, 162, 157, 140], [40, 45, 49, 45, 40], [175, 368, 305, 284, 266], [105, 153, 179, 189, 159], [52, 62, 68, 66, 59], [25, 26, 30, 25, 27], [86, 108, 129, 104, 98], [44, 57, 56, 46, 43], [50, 67, 67, 72, 65], [39, 46, 48, 47, 50], [58, 90, 84, 75, 65], [39, 66, 59, 49, 44], [106, 204, 178, 167, 144], [36, 47, 47, 41, 38], [42, 52, 56, 50, 46], [85, 132, 120, 106, 97], [51, 101, 88, 73, 65], [57, 100, 92, 84, 71], [27, 40, 38, 39, 34], [25, 44, 41, 41, 36], [82, 96, 120, 103, 92], [71, 95, 102, 109, 98], [40, 44, 47, 42, 40], [19, 21, 21, 21, 21], [54, 64, 75, 72, 62], [95, 177, 153, 140, 123], [44, 73, 61, 54, 51], [45, 55, 56, 49, 46], [201, 419, 348, 327, 294], [93, 140, 154, 179, 145], [68, 99, 109, 124, 99], [84, 101, 139, 98, 82], [46, 60, 62, 57, 52], [49, 85, 74, 61, 52], [55, 74, 79, 87, 72], [40, 74, 67, 62, 51], [106, 138, 161, 149, 142], [53, 64, 74, 71, 66], [58, 68, 79, 67, 65], [18, 25, 25, 25, 23], [84, 108, 115, 91, 90], [61, 68, 73, 66, 63], [83, 130, 124, 122, 146], [68, 76, 80, 75, 68], [42, 74, 61, 54, 50], [52, 55, 58, 55, 51], [58, 72, 88, 67, 57], [23, 24, 25, 23, 24], [47, 53, 56, 50, 49], [75, 90, 112, 107, 99], [27, 31, 34, 30, 29], [100, 165, 164, 195, 155], [35, 37, 46, 39, 35], [45, 71, 67, 58, 55], [131, 237, 207, 176, 163], [62, 74, 71, 61, 75], [32, 51, 48, 46, 35], [17, 19, 21, 21, 16], [22, 28, 28, 27, 27], [22, 29, 34, 30, 29], [53, 86, 77, 64, 60], [50, 72, 86, 62, 62]]

In [228]:
# FEATURE VECTOR USING SELECTIVE REPRESENTATIVE

SFec=[]
for i in range(n):
    Svec=[]
    f=Data.loc[i, feature_names].values.flatten().tolist()
    count=0
    count1=0
    count2=0
    count3=0
    count4=0

    for j in range(1703):
        if f[j]==1 and SBasis_0[j]==1:
            count=count+1;
        if f[j]==1 and SBasis_1[j]==1:
            count1=count1+1;
        if f[j]==1 and SBasis_2[j]==1:
            count2=count2+1;
        if f[j]==1 and SBasis_3[j]==1:
            count3=count3+1;
        if f[j]==1 and SBasis_4[j]==1:
            count4=count4+1;

    Svec.append(count)
    Svec.append(count1)
    Svec.append(count2)
    Svec.append(count3)
    Svec.append(count4)

    #print(f)
    f.clear()
    SFec.append(Svec)
print(SFec)

[[46, 63, 40, 52, 44], [39, 38, 40, 44, 38], [42, 34, 40, 43, 42], [27, 27, 27, 26, 24], [36, 54, 36, 43, 35], [81, 105, 54, 81, 78], [131, 174, 63, 104, 115], [35, 35, 27, 36, 32], [52, 49, 48, 54, 49], [85, 55, 43, 60, 59], [41, 35, 39, 41, 39], [52, 42, 47, 59, 52], [45, 32, 39, 46, 41], [50, 43, 41, 55, 45], [37, 33, 37, 39, 35], [50, 40, 47, 56, 46], [45, 35, 37, 32, 37], [36, 30, 36, 32, 29], [47, 42, 41, 52, 43], [22, 21, 22, 21, 22], [30, 38, 25, 32, 30], [79, 103, 44, 66, 62], [26, 25, 28, 23, 22], [44, 37, 37, 56, 49], [61, 86, 38, 52, 45], [82, 68, 50, 97, 75], [55, 78, 39, 56, 53], [81, 53, 47, 118, 95], [76, 113, 45, 76, 70], [46, 40, 47, 61, 48], [14, 14, 14, 14, 14], [75, 56, 58, 93, 78], [65, 49, 49, 52, 51], [28, 29, 31, 28, 27], [113, 121, 58, 126, 123], [138, 182, 64, 105, 118], [36, 55, 31, 47, 44], [83, 56, 56, 105, 85], [90, 116, 43, 76, 82], [36, 34, 34, 37, 32], [42, 34, 36, 31, 35], [55, 43, 53, 55, 50], [47, 69, 40, 52, 47], [42, 32, 32, 42, 41], [75, 60, 45, 90, 95], [37, 44, 35, 35, 31], [40, 35, 23, 51, 70], [83, 55, 52, 104, 83], [84, 91, 48, 83, 72], [22, 22, 23, 21, 22], [63, 50, 49, 67, 71], [95, 77, 58, 147, 154], [86, 98, 52, 76, 71], [26, 39, 27, 28, 23], [122, 89, 64, 183, 152], [48, 36, 50, 45, 37], [44, 36, 39, 37, 35], [43, 47, 40, 38, 38], [73, 57, 47, 106, 76], [33, 44, 20, 29, 30], [33, 44, 20, 29, 30], [38, 31, 38, 40, 34], [23, 24, 23, 24, 25], [63, 52, 36, 71, 79], [49, 42, 33, 51, 56], [35, 28, 37, 38, 33], [59, 52, 30, 45, 47], [190, 85, 57, 95, 103], [76, 64, 58, 74, 72], [50, 42, 50, 57, 49], [31, 29, 30, 32, 30], [74, 49, 39, 48, 60], [72, 60, 53, 78, 69], [66, 49, 57, 81, 70], [46, 62, 35, 41, 43], [111, 71, 61, 145, 118], [41, 36, 41, 43, 40], [96, 64, 64, 119, 105], [59, 60, 40, 67, 70], [39, 37, 33, 38, 44], [48, 49, 46, 51, 43], [20, 22, 21, 20, 19], [40, 54, 31, 44, 43], [32, 57, 26, 29, 25], [41, 49, 34, 37, 28], [36, 27, 32, 37, 34], [38, 34, 40, 37, 34], [42, 62, 35, 43, 39], [42, 34, 38, 39, 40], [58, 80, 42, 64, 54], [25, 24, 24, 22, 23], [58, 60, 37, 58, 55], [67, 53, 45, 70, 84], [103, 85, 65, 148, 130], [39, 31, 38, 33, 31], [46, 38, 43, 41, 44], [36, 39, 40, 36, 30], [81, 105, 54, 81, 78], [65, 47, 45, 57, 56], [37, 34, 38, 38, 35], [117, 56, 41, 74, 67], [34, 41, 37, 41, 36], [55, 45, 48, 59, 46], [19, 19, 20, 19, 20], [102, 75, 74, 104, 95], [48, 38, 31, 39, 43], [22, 23, 24, 22, 20], [121, 83, 61, 198, 151], [74, 87, 39, 67, 67], [73, 52, 57, 56, 53], [60, 72, 38, 56, 58], [71, 50, 50, 84, 74], [118, 135, 60, 117, 111], [67, 91, 37, 73, 64], [34, 26, 30, 29, 28], [81, 105, 54, 81, 78], [35, 64, 29, 33, 28], [62, 52, 49, 51, 52], [129, 81, 70, 175, 137], [41, 27, 21, 50, 66], [50, 45, 45, 57, 61], [87, 68, 60, 130, 109], [52, 38, 48, 56, 46], [39, 42, 45, 49, 41], [76, 51, 66, 94, 74], [48, 42, 42, 54, 49], [109, 77, 74, 168, 122], [176, 166, 73, 175, 180], [25, 35, 26, 36, 29], [47, 42, 46, 56, 57], [33, 44, 20, 29, 30], [100, 54, 43, 64, 61], [92, 67, 64, 88, 88], [78, 58, 53, 64, 64], [38, 34, 41, 38, 35], [35, 29, 32, 33, 30], [39, 29, 27, 27, 32], [72, 54, 50, 115, 82], [135, 68, 52, 73, 78], [48, 43, 46, 43, 40], [40, 35, 38, 42, 37], [13, 13, 13, 13, 13], [31, 25, 20, 24, 24], [136, 76, 52, 81, 81], [85, 69, 65, 114, 90], [68, 60, 61, 64, 55], [170, 111, 84, 254, 191], [177, 115, 63, 168, 230], [62, 97, 42, 60, 52], [40, 61, 32, 37, 31], [43, 73, 33, 46, 40], [31, 23, 23, 28, 25], [51, 60, 37, 51, 49], [61, 47, 53, 70, 66], [58, 51, 50, 57, 48], [59, 60, 52, 71, 62], [82, 62, 45, 97, 126], [61, 52, 42, 82, 104], [52, 69, 39, 60, 51], [31, 28, 21, 36, 49], [104, 70, 60, 138, 118], [140, 104, 74, 177, 226], [13, 11, 12, 12, 12], [44, 38, 45, 46, 43], [48, 38, 38, 63, 56], [45, 34, 19, 50, 80], [27, 28, 26, 27, 24], [49, 81, 38, 44, 45], [45, 53, 48, 50, 44], [86, 64, 71, 79, 72], [114, 102, 70, 119, 120], [56, 54, 41, 52, 48], [55, 41, 45, 51, 48], [142, 116, 88, 234, 171], [44, 39, 47, 46, 41], [76, 62, 46, 88, 78], [69, 61, 50, 93, 75], [113, 88, 68, 106, 114], [128, 101, 78, 221, 163], [72, 63, 59, 108, 84], [86, 65, 64, 94, 84], [17, 20, 18, 16, 17], [56, 46, 55, 74, 60], [71, 44, 45, 54, 58], [140, 100, 68, 172, 223], [44, 37, 41, 45, 42], [1, 1, 1, 1, 1], [164, 76, 61, 102, 102], [32, 40, 30, 41, 39], [97, 104, 46, 102, 93], [40, 40, 45, 39, 35], [175, 195, 76, 173, 181], [105, 84, 67, 177, 119], [52, 45, 52, 53, 50], [25, 22, 23, 23, 22], [86, 60, 46, 73, 72], [44, 47, 31, 32, 35], [50, 33, 34, 66, 58], [39, 28, 23, 39, 45], [58, 79, 43, 55, 51], [39, 59, 34, 40, 35], [106, 133, 59, 110, 101], [36, 43, 36, 37, 31], [42, 39, 41, 39, 42], [85, 97, 51, 75, 70], [51, 80, 37, 52, 46], [57, 73, 42, 67, 55], [27, 34, 27, 38, 32], [25, 34, 27, 38, 30], [82, 62, 61, 88, 72], [71, 57, 55, 100, 84], [40, 35, 35, 33, 36], [19, 17, 18, 18, 21], [54, 42, 45, 63, 53], [95, 109, 44, 88, 84], [44, 70, 35, 45, 37], [45, 44, 48, 46, 40], [201, 207, 84, 195, 193], [93, 72, 55, 145, 110], [68, 53, 47, 108, 77], [84, 61, 54, 58, 58], [46, 40, 39, 49, 41], [49, 75, 39, 48, 40], [55, 46, 46, 75, 61], [40, 65, 37, 46, 40], [106, 71, 65, 128, 118], [53, 41, 50, 69, 55], [58, 46, 55, 54, 54], [18, 21, 16, 22, 21], [84, 66, 54, 63, 70], [61, 46, 49, 55, 53], [83, 76, 48, 94, 128], [68, 48, 55, 65, 58], [42, 65, 25, 38, 39], [52, 43, 44, 46, 43], [58, 50, 46, 44, 42], [23, 21, 22, 21, 21], [47, 43, 40, 41, 43], [75, 53, 60, 94, 85], [27, 24, 26, 25, 27], [100, 73, 64, 148, 111], [35, 31, 29, 31, 30], [45, 62, 39, 51, 43], [131, 176, 63, 103, 115], [62, 42, 34, 47, 59], [32, 46, 33, 35, 30], [17, 16, 17, 17, 15], [22, 24, 26, 25, 25], [22, 22, 22, 26, 27], [53, 77, 37, 49, 44], [50, 41, 35, 39, 45]]

In [229]:
z =np.array(SFec)
data2=pd.DataFrame({"S_0":z[:,0]})
for i in range(4):
    data2.insert(loc=i+1, column="S_{}".format(i+1), value=z[:,i+1])
#data2.insert(loc=7,column='Class',value=Data['subject'].to_numpy())
data2.head()

   S_0  S_1  S_2  S_3  S_4
0   46   63   40   52   44
1   39   38   40   44   38
2   42   34   40   43   42
3   27   27   27   26   24
4   36   54   36   43   35

In [230]:
y =np.array(Fec)
data1=pd.DataFrame({"In_0":y[:,0]})
for i in range(4):
    data1.insert(loc=i+1, column="In_{}".format(i+1), value=y[:,i+1])
#data1.insert(loc=5,column='Class',value=Data['Class'].to_numpy())
data1.head()

   In_0  In_1  In_2  In_3  In_4
0    46    72    68    59    56
1    39    47    49    45    45
2    42    48    51    49    48
3    27    32    33    29    27
4    36    64    63    58    43

In [231]:
Ac_fe=[]
acuracy=[]
Ac_domain2=[]
Ac_domain=[]

In [232]:
Ac_fe=[]
acuracy=[]
Ac_domain2=[]
Ac_domain=[]

for it in range(10):
    p=[]
    q=[]

    p=random.sample(range(n), math.ceil(n*0.2))
    q=[]
    for i in range(n):
        if i not in p:
            q.append(i)
    class_60=lst_Class.copy()
    for d in p:
        class_60[d]=5
    for i in range(n):
        A[i][i]=class_60[i]
    
    Node_class=[0,1,2,3,4]
    F_vec=spatial_two (Node_class, A,n)
    x =np.array(F_vec)
    k=20
    data=pd.DataFrame({"a_0":x[:,0]})
    data.insert(loc=1, column="b_0", value=x[:,1])
    for i in range(1,k-1,2):
        data.insert(loc=i+1, column="a_{}".format(int((i+1)/2)), value=x[:,i+1])
        data.insert(loc=i+2, column="b_{}".format(int((i+1)/2)), value=x[:,i+2])

    data.insert(loc=k,column='Class',value=Data['Class'].to_numpy())
    feature=["a_0","b_0"]
    for i in range(1,k-1,2):
        feature.append("a_{}".format(int((i+1)/2)))
        feature.append("b_{}".format(int((i+1)/2)))

    X=data[feature] # Features
    y=data['Class']  # Labels
    X_train=X.iloc[q]
    X_test=X.iloc[p]
    y_train=y.iloc[q]
    y_test=y.iloc[p]
    scaler = StandardScaler()  
# Don't cheat - fit only on training data
    scaler.fit(X_train)  
    X_train = scaler.transform(X_train)  
# apply same transformation to test data
    X_test = scaler.transform(X_test)  
    clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    
    Ac_domain2.append(metrics.accuracy_score(y_test, y_pred)*100)
    result = pd.concat([data2,data1,data], axis=1)
    k=20
    feature=["a_0","b_0"]
    for i in range(1,k-1,2):
        feature.append("a_{}".format(int((i+1)/2)))
        feature.append("b_{}".format(int((i+1)/2)))
    for i in range(4):
        feature.append("S_{}".format(i))
    for j in range(4):
        feature.append("In_{}".format(j))
    #print(feature)
    X=result[feature] # Features
    y=result['Class']  # Labels
    X_train=X.iloc[q]
    X_test=X.iloc[p]
    y_train=y.iloc[q]
    y_test=y.iloc[p]

    scaler = StandardScaler()  
# Don't cheat - fit only on training data
    scaler.fit(X_train)  
    X_train = scaler.transform(X_train)  
# apply same transformation to test data
    X_test = scaler.transform(X_test)  
    clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    
    acuracy.append(metrics.accuracy_score(y_test, y_pred)*100)
    feature=[]
    for i in range(4):
        feature.append("S_{}".format(i))
    for j in range(4):
        feature.append("In_{}".format(j))
    #print(feature)
    X=result[feature] # Features
    y=result['Class']  # Labels
    X_train=X.iloc[q]
    X_test=X.iloc[p]
    y_train=y.iloc[q]
    y_test=y.iloc[p]
    scaler = StandardScaler()  
# Don't cheat - fit only on training data
    scaler.fit(X_train)  
    X_train = scaler.transform(X_train)  
# apply same transformation to test data
    X_test = scaler.transform(X_test)  
    clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    Ac_fe.append(metrics.accuracy_score(y_test, y_pred)*100)

In [233]:

mean_value = statistics.mean(Ac_domain2)
std_dev = statistics.stdev(Ac_domain2)
print("Spatial only")
print("Mean:", mean_value)
print("Standard Deviation:", std_dev)

mean_value = statistics.mean(acuracy)
std_dev = statistics.stdev(acuracy)
print("Accuracy using both")
print("Mean:", mean_value)
print("Standard Deviation:", std_dev)
mean_value = statistics.mean(Ac_fe)
std_dev = statistics.stdev(Ac_fe)
print("Domain only")
print("Mean:", mean_value)
print("Standard Deviation:", std_dev)

Spatial only
Mean: 63.52941176470588
Standard Deviation: 4.154313354789725
Accuracy using both
Mean: 85.88235294117648
Standard Deviation: 5.212392689510297
Domain only
Mean: 91.17647058823529
Standard Deviation: 4.912841953716635

In [27]:
print(acuracy)

[84.31372549019608, 82.35294117647058, 86.27450980392157, 72.54901960784314, 88.23529411764706, 78.43137254901961, 86.27450980392157, 86.27450980392157, 86.27450980392157, 92.15686274509804]

# Cornell

In [234]:
from urllib.request import urlopen
p_data=urlopen("https://raw.githubusercontent.com/class-contrast/NodeClassification/main/Datasets/WebKb/Cornell/out1_graph_edges.txt")
er=[]
for line in p_data:
    output = line.decode()
    er.append(output)
myls=list(er)
mylist = [line.rstrip('\n') for line in myls]
mylist.pop(0)
print(mylist)

['173\t96', '121\t72', '35\t79', '2\t130', '2\t75', '104\t79', '104\t56', '176\t167', '176\t57', '176\t4', '176\t153', '176\t5', '176\t46', '176\t137', '176\t145', '176\t38', '176\t63', '169\t137', '169\t38', '167\t137', '167\t63', '87\t174', '48\t13', '48\t157', '28\t84', '28\t47', '57\t104', '57\t81', '57\t86', '57\t42', '57\t141', '57\t177', '57\t33', '57\t116', '57\t31', '57\t95', '57\t127', '57\t76', '57\t90', '57\t37', '57\t114', '57\t113', '57\t105', '57\t32', '57\t80', '57\t60', '57\t14', '57\t110', '57\t112', '57\t89', '57\t158', '57\t106', '57\t153', '57\t17', '57\t164', '57\t5', '57\t46', '57\t18', '57\t16', '57\t119', '57\t34', '57\t107', '57\t182', '57\t109', '57\t74', '57\t178', '57\t174', '57\t41', '57\t135', '57\t71', '57\t1', '57\t157', '57\t165', '57\t100', '57\t154', '57\t160', '57\t68', '57\t30', '57\t84', '57\t145', '57\t128', '57\t53', '57\t45', '57\t123', '57\t50', '57\t170', '57\t96', '57\t15', '57\t61', '57\t98', '57\t29', '57\t99', '57\t103', '57\t40', '57\t175', '57\t77', '57\t58', '57\t24', '57\t3', '57\t108', '57\t43', '57\t132', '57\t131', '57\t168', '57\t147', '57\t163', '57\t82', '57\t59', '57\t55', '57\t72', '57\t155', '57\t26', '57\t11', '57\t148', '57\t144', '57\t7', '57\t124', '57\t88', '57\t156', '138\t69', '138\t129', '138\t164', '138\t93', '138\t118', '62\t23', '62\t118', '42\t164', '83\t69', '83\t129', '83\t164', '83\t93', '83\t174', '83\t103', '83\t3', '22\t92', '22\t44', '171\t69', '171\t129', '171\t92', '171\t93', '171\t50', '171\t23', '126\t174', '134\t44', '161\t8', '65\t158', '65\t8', '177\t118', '67\t89', '67\t140', '67\t13', '67\t165', '67\t30', '67\t181', '67\t49', '67\t148', '85\t21', '117\t181', '33\t51', '52\t53', '64\t135', '25\t30', '25\t75', '149\t140', '149\t165', '149\t148', '97\t152', '97\t165', '97\t27', '97\t3', '97\t118', '116\t111', '31\t158', '95\t43', '105\t99', '21\t28', '21\t180', '21\t41', '21\t147', '162\t5', '162\t154', '110\t150', '110\t93', '180\t93', '69\t93', '89\t150', '129\t93', '153\t160', '0\t101', '0\t122', '137\t63', '18\t96', '125\t175', '125\t77', '109\t101', '109\t6', '109\t122', '9\t148', '74\t27', '174\t93', '41\t67', '41\t66', '135\t22', '135\t64', '135\t5', '1\t27', '13\t150', '154\t5', '160\t153', '91\t27', '128\t128', '53\t5', '53\t92', '96\t173', '96\t121', '96\t18', '29\t179', '179\t29', '115\t99', '99\t155', '19\t103', '175\t77', '27\t97', '27\t74', '27\t1', '24\t28', '24\t4', '24\t68', '24\t84', '24\t47', '24\t139', '24\t159', '78\t143', '78\t26', '43\t104', '168\t99', '168\t155', '147\t158', '94\t82', '102\t82', '82\t94', '8\t28', '8\t158', '8\t109', '8\t101', '8\t122', '172\t72', '72\t121', '72\t172', '155\t99', '12\t7', '101\t109', '101\t8', '101\t6', '101\t122', '120\t153', '120\t1', '120\t160', '159\t136', '63\t54', '73\t10', '10\t5', '10\t166', '10\t142', '10\t154', '6\t149', '6\t109', '122\t109', '122\t8', '122\t6', '20\t158', '20\t109', '20\t47', '20\t8', '20\t101', '151\t36', '151\t147', '70\t96', '70\t70', '133\t133', '133\t66', '133\t146', '66\t150', '66\t39', '66\t130', '66\t30', '66\t3', '66\t75', '66\t49', '66\t144', '66\t146', '146\t150', '146\t130', '146\t30', '146\t3', '146\t75', '146\t49', '146\t66']

In [235]:
mynode=[]
i=0
for d in mylist:
    d=mylist[i].split("\t")
    mynode.append(int(d[0]))
    mynode.append(int(d[1]))
    i=i+1
#print(mynode)
node_ID1=np.unique(mynode)
node_ID=list(node_ID1)
print(node_ID)
n=len(node_ID)
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182]
183

In [236]:
A=np.zeros((n,n))
i=0
for d in mylist:
    d=mylist[i].split("\t")
    A[node_ID.index(int(d[0]))][node_ID.index(int(d[1]))]=1
    i=i+1;
print(" The adjacency Matrix")
print("=======================")
print(A)

 The adjacency Matrix
=======================
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [237]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/class-contrast/NodeClassification/main/Datasets/WebKb/Cornell/out1_node_feature_label.txt',sep='\s+')
df.head()

   node_id                                            feature  label
0        0  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      3
1        1  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      3
2        2  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      0
3        3  0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,...      3
4        4  0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,...      3

In [238]:
fe=df["feature"].to_numpy()
lst_Class=df["label"].to_numpy()
lst_ID=df["node_id"].to_numpy()

lst_Fe=[]
for row in fe:
    d=row.split(',')
    fev=[]
    for j in range(len(d)):
            fev.append(int(d[j]))
    lst_Fe.append(fev)

In [239]:
fe_len=len(lst_Fe[0])
feature_names = ["w_{}".format(ii) for ii in range(fe_len)]
Data=pd.DataFrame(lst_Fe,columns=feature_names)
Data.insert(loc=fe_len,column='Class',value=lst_Class)
Data.head()

,w_0,w_1,w_2,w_3,w_4,w_5,w_6,w_7,w_8,w_9,...,w_1694,w_1695,w_1696,w_1697,w_1698,w_1699,w_1700,w_1701,w_1702,Class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,3

In [240]:
Class=lst_Class.copy()

In [241]:
Data_0=Data.loc[Data['Class'] == 0]
Data_1=Data.loc[Data['Class'] == 1]
Data_2=Data.loc[Data['Class'] == 2]
Data_3=Data.loc[Data['Class'] == 3]
Data_4=Data.loc[Data['Class'] == 4]
Data_1.head()

,w_0,w_1,w_2,w_3,w_4,w_5,w_6,w_7,w_8,w_9,...,w_1694,w_1695,w_1696,w_1697,w_1698,w_1699,w_1700,w_1701,w_1702,Class
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
24,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
28,0,0,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
29,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [242]:
Basis_0=[]
Basis_1=[]
Basis_2=[]
Basis_3=[]
Basis_4=[]
for i in range(1703):
    W="w_{}".format(i)
    Basis_0.append(max(Data_0[W].to_numpy()))
    Basis_1.append(max(Data_1[W].to_numpy()))
    Basis_2.append(max(Data_2[W].to_numpy()))
    Basis_3.append(max(Data_3[W].to_numpy()))
    Basis_4.append(max(Data_4[W].to_numpy()))
#W1=Data_0['w_0'].to_numpy()
#print(max(W1))
print(Basis_0)
count0=0
count1=0
for i in range(1703):
    if Basis_0[i]==1:
        count1=count1+1
    else:
        count0=count0+1
print(count0)
print(count1)

[1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0]
754
949

In [243]:
SBasis_0=[]
SBasis_1=[]
SBasis_2=[]
SBasis_3=[]
SBasis_4=[]
#for i in range(14):
 #   W="w_{}".format(i)
  #  print(list(Data_0[W].to_numpy()).count(1))
for i in range(1703):
    W="w_{}".format(i)
    if list(Data_0[W].to_numpy()).count(1)>=int(len(Data_0.index)*0.2):
        SBasis_0.append(1)
    else:
        SBasis_0.append(0) 
    if list(Data_1[W].to_numpy()).count(1)>=int(len(Data_1.index)*0.2):
        SBasis_1.append(1)
    else:
        SBasis_1.append(0)
    if list(Data_2[W].to_numpy()).count(1)>=int(len(Data_2.index)*0.2):
        SBasis_2.append(1)
    else:
        SBasis_2.append(0)
    if list(Data_3[W].to_numpy()).count(1)>=int(len(Data_3.index)*0.2):
        SBasis_3.append(1)
    else:
        SBasis_3.append(0)
    if list(Data_4[W].to_numpy()).count(1)>=int(len(Data_4.index)*0.2):
        SBasis_4.append(1)
    else:
        SBasis_4.append(0)

#W1=Data_0['w_0'].to_numpy()
#print(max(W1))
print(SBasis_3)
count0=0
count1=0
for i in range(1703):
    if SBasis_2[i]==1:
        count1=count1+1
    else:
        count0=count0+1
print(count0)
print(count1)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1497
206

In [244]:
Fec=[]
for i in range(n):
    vec=[]
    f=Data.loc[i, feature_names].values.flatten().tolist()
    count=0
    count1=0
    count2=0
    count3=0
    count4=0
    for j in range(1703):
        if f[j]==1 and Basis_0[j]==1:
            count=count+1;
        if f[j]==1 and Basis_1[j]==1:
            count1=count1+1;
        if f[j]==1 and Basis_2[j]==1:
            count2=count2+1;
        if f[j]==1 and Basis_3[j]==1:
            count3=count3+1;
        if f[j]==1 and Basis_4[j]==1:
            count4=count4+1;

    vec.append(count)
    vec.append(count1)
    vec.append(count2)
    vec.append(count3)
    vec.append(count4)

    #print(f)
    f.clear()
    Fec.append(vec)
print(Fec)

[[3, 2, 3, 4, 4], [51, 44, 51, 54, 39], [35, 24, 32, 32, 24], [59, 47, 60, 70, 39], [53, 56, 63, 71, 55], [115, 93, 122, 132, 92], [129, 99, 131, 136, 156], [116, 161, 151, 147, 122], [136, 138, 175, 157, 145], [18, 17, 18, 18, 18], [42, 38, 45, 43, 48], [63, 57, 71, 86, 55], [54, 65, 64, 64, 69], [63, 59, 70, 82, 55], [43, 42, 45, 46, 36], [51, 47, 50, 62, 47], [97, 96, 129, 116, 85], [81, 95, 85, 87, 72], [34, 33, 36, 36, 33], [211, 159, 208, 206, 263], [22, 23, 21, 23, 24], [194, 175, 257, 222, 179], [165, 103, 139, 137, 97], [53, 49, 54, 58, 52], [61, 85, 79, 80, 73], [37, 28, 33, 33, 28], [36, 40, 40, 48, 29], [109, 93, 128, 114, 84], [131, 171, 155, 160, 131], [108, 147, 133, 129, 111], [105, 85, 125, 134, 91], [46, 31, 40, 40, 32], [203, 200, 276, 241, 173], [210, 133, 168, 177, 122], [54, 45, 62, 68, 48], [54, 41, 49, 51, 36], [32, 33, 31, 34, 28], [114, 104, 141, 122, 98], [41, 48, 45, 48, 41], [41, 41, 42, 50, 35], [42, 42, 45, 47, 34], [88, 70, 93, 99, 78], [108, 72, 91, 96, 79], [108, 95, 124, 130, 93], [33, 31, 29, 35, 23], [42, 49, 47, 48, 35], [59, 60, 82, 75, 58], [64, 65, 69, 79, 63], [67, 46, 64, 62, 51], [58, 54, 59, 64, 52], [74, 67, 83, 95, 68], [175, 114, 135, 150, 98], [49, 35, 40, 43, 34], [46, 48, 55, 53, 35], [121, 107, 139, 149, 107], [47, 44, 44, 52, 46], [80, 72, 86, 102, 67], [92, 68, 87, 88, 72], [56, 71, 67, 70, 60], [31, 33, 34, 33, 31], [59, 60, 68, 63, 48], [62, 58, 70, 79, 57], [51, 41, 47, 47, 36], [78, 74, 83, 81, 90], [94, 69, 82, 81, 67], [99, 64, 85, 85, 62], [187, 109, 148, 163, 110], [55, 44, 46, 50, 40], [168, 147, 184, 204, 147], [30, 31, 31, 32, 30], [17, 22, 16, 18, 15], [70, 75, 91, 105, 62], [101, 90, 125, 113, 94], [42, 32, 42, 39, 32], [63, 61, 67, 71, 47], [60, 53, 63, 71, 50], [114, 157, 149, 134, 109], [33, 31, 39, 39, 25], [106, 102, 133, 117, 91], [72, 73, 81, 99, 61], [82, 86, 106, 91, 71], [276, 159, 215, 228, 156], [54, 52, 68, 63, 48], [299, 173, 244, 240, 194], [134, 136, 164, 200, 120], [45, 31, 40, 42, 33], [93, 66, 75, 80, 60], [75, 48, 61, 66, 48], [78, 68, 86, 103, 66], [96, 79, 106, 120, 85], [161, 166, 211, 178, 160], [34, 29, 40, 46, 30], [58, 56, 61, 63, 50], [101, 80, 103, 120, 77], [51, 35, 46, 43, 32], [160, 148, 200, 178, 136], [65, 52, 82, 71, 53], [70, 52, 63, 61, 44], [35, 35, 37, 39, 30], [92, 91, 107, 111, 86], [86, 83, 99, 106, 80], [192, 167, 211, 209, 241], [18, 17, 20, 19, 20], [53, 52, 60, 56, 46], [178, 117, 151, 153, 103], [169, 172, 227, 202, 157], [71, 70, 90, 103, 69], [64, 56, 64, 70, 57], [70, 62, 74, 88, 60], [46, 44, 50, 50, 45], [62, 59, 66, 67, 56], [145, 131, 183, 158, 117], [19, 18, 19, 22, 18], [92, 100, 122, 105, 86], [114, 120, 160, 134, 94], [153, 93, 134, 135, 99], [76, 62, 72, 71, 62], [59, 43, 46, 52, 35], [53, 48, 52, 56, 43], [28, 26, 29, 29, 29], [1, 1, 1, 1, 1], [54, 56, 65, 71, 47], [50, 48, 54, 53, 57], [123, 156, 142, 141, 110], [39, 37, 42, 43, 34], [49, 41, 47, 55, 43], [46, 41, 41, 44, 38], [71, 90, 81, 79, 67], [53, 47, 55, 61, 43], [35, 38, 38, 40, 37], [51, 43, 57, 70, 41], [32, 26, 32, 36, 27], [33, 32, 35, 39, 31], [18, 22, 16, 19, 15], [47, 32, 37, 42, 27], [136, 124, 167, 152, 119], [65, 69, 78, 76, 80], [82, 103, 96, 93, 83], [79, 51, 64, 68, 51], [43, 45, 44, 50, 40], [88, 83, 103, 129, 74], [50, 38, 43, 48, 36], [108, 134, 122, 118, 89], [77, 49, 63, 67, 43], [56, 50, 58, 63, 48], [132, 126, 183, 158, 121], [93, 72, 82, 86, 66], [50, 43, 53, 55, 45], [81, 75, 94, 116, 68], [54, 40, 48, 51, 47], [106, 82, 116, 141, 87], [24, 23, 24, 24, 24], [91, 88, 114, 104, 84], [161, 145, 219, 186, 139], [82, 71, 85, 95, 76], [57, 49, 64, 68, 51], [124, 102, 137, 174, 112], [37, 33, 38, 41, 32], [150, 106, 160, 192, 106], [123, 112, 147, 143, 161], [81, 82, 93, 101, 72], [134, 93, 120, 119, 99], [150, 147, 196, 164, 120], [44, 38, 45, 48, 39], [58, 52, 59, 66, 52], [74, 63, 80, 90, 63], [34, 34, 36, 36, 32], [124, 150, 141, 137, 113], [33, 33, 36, 37, 31], [36, 35, 39, 37, 40], [26, 25, 27, 32, 25], [44, 39, 40, 42, 38], [46, 44, 52, 49, 53], [65, 52, 72, 79, 57], [34, 35, 38, 39, 35], [35, 39, 47, 48, 34], [66, 61, 72, 73, 78], [47, 40, 41, 44, 34], [40, 40, 46, 49, 35], [65, 71, 74, 71, 78], [69, 61, 79, 88, 59], [88, 85, 101, 94, 68], [168, 144, 232, 192, 115]]

In [245]:
SFec=[]
for i in range(n):
    Svec=[]
    f=Data.loc[i, feature_names].values.flatten().tolist()
    count=0
    count1=0
    count2=0
    count3=0
    count4=0

    for j in range(1703):
        if f[j]==1 and SBasis_0[j]==1:
            count=count+1;
        if f[j]==1 and SBasis_1[j]==1:
            count1=count1+1;
        if f[j]==1 and SBasis_2[j]==1:
            count2=count2+1;
        if f[j]==1 and SBasis_3[j]==1:
            count3=count3+1;
        if f[j]==1 and SBasis_4[j]==1:
            count4=count4+1;

    Svec.append(count)
    Svec.append(count1)
    Svec.append(count2)
    Svec.append(count3)
    Svec.append(count4)

    #print(f)
    f.clear()
    SFec.append(Svec)
print(SFec)

[[2, 2, 2, 2, 3], [30, 29, 35, 29, 30], [17, 14, 17, 11, 16], [24, 27, 30, 26, 25], [20, 40, 37, 24, 24], [39, 61, 63, 37, 51], [40, 45, 54, 28, 79], [24, 77, 84, 27, 58], [41, 74, 93, 37, 77], [16, 15, 16, 16, 15], [27, 27, 27, 20, 28], [27, 37, 39, 38, 34], [15, 30, 42, 14, 34], [31, 39, 39, 39, 38], [28, 32, 36, 32, 24], [30, 30, 32, 29, 27], [33, 65, 81, 37, 48], [31, 57, 54, 34, 36], [26, 30, 29, 30, 23], [48, 82, 86, 34, 105], [17, 20, 18, 17, 20], [50, 88, 107, 45, 87], [64, 51, 64, 34, 50], [31, 33, 40, 39, 32], [30, 57, 50, 35, 44], [26, 19, 22, 18, 19], [16, 25, 28, 27, 17], [36, 53, 73, 36, 46], [39, 88, 79, 36, 70], [35, 88, 86, 37, 59], [39, 51, 56, 47, 49], [38, 20, 21, 21, 18], [55, 105, 132, 39, 88], [86, 59, 67, 39, 53], [29, 37, 38, 31, 32], [41, 30, 31, 27, 23], [23, 28, 28, 27, 22], [32, 60, 79, 27, 52], [26, 40, 37, 28, 30], [26, 28, 30, 33, 25], [31, 32, 36, 28, 28], [47, 39, 43, 34, 47], [62, 42, 40, 31, 46], [37, 62, 69, 35, 53], [26, 20, 22, 23, 19], [30, 39, 38, 30, 28], [27, 40, 43, 28, 33], [25, 34, 36, 28, 34], [32, 27, 32, 26, 28], [32, 36, 42, 34, 38], [39, 47, 48, 40, 43], [85, 51, 52, 33, 42], [38, 25, 26, 24, 27], [19, 33, 41, 18, 21], [37, 65, 77, 32, 53], [31, 30, 35, 28, 29], [37, 46, 49, 43, 41], [46, 42, 47, 33, 41], [27, 54, 45, 27, 42], [22, 26, 30, 23, 26], [32, 42, 55, 29, 33], [29, 37, 38, 34, 34], [38, 30, 31, 27, 23], [32, 49, 50, 29, 51], [52, 40, 48, 26, 39], [47, 27, 29, 15, 28], [56, 53, 61, 33, 44], [38, 29, 35, 27, 24], [44, 83, 84, 45, 71], [22, 25, 26, 27, 24], [8, 13, 9, 7, 10], [32, 47, 52, 41, 35], [35, 57, 74, 35, 49], [35, 23, 30, 21, 20], [31, 36, 43, 37, 30], [32, 36, 41, 41, 33], [40, 90, 91, 33, 57], [15, 21, 28, 21, 12], [33, 53, 68, 29, 46], [37, 40, 51, 45, 36], [31, 48, 74, 29, 42], [92, 67, 69, 39, 56], [29, 41, 49, 30, 34], [89, 80, 93, 42, 81], [50, 76, 82, 46, 58], [31, 22, 25, 21, 22], [47, 32, 37, 19, 28], [41, 28, 28, 20, 29], [29, 43, 45, 38, 32], [37, 49, 53, 44, 47], [48, 87, 100, 41, 80], [17, 17, 19, 16, 15], [32, 38, 43, 33, 33], [41, 43, 50, 45, 43], [42, 25, 29, 21, 20], [44, 84, 106, 41, 71], [25, 37, 43, 25, 32], [37, 26, 33, 19, 24], [26, 26, 29, 27, 21], [42, 56, 60, 38, 56], [36, 53, 53, 39, 42], [45, 75, 88, 33, 117], [14, 16, 16, 13, 15], [33, 36, 41, 31, 32], [83, 47, 66, 35, 54], [49, 93, 123, 36, 79], [34, 40, 48, 37, 35], [31, 42, 45, 37, 37], [34, 39, 42, 41, 31], [25, 32, 36, 32, 36], [38, 47, 50, 42, 42], [40, 68, 88, 27, 60], [9, 12, 13, 16, 8], [34, 58, 88, 30, 53], [42, 65, 98, 30, 50], [69, 48, 53, 29, 50], [45, 35, 36, 28, 39], [38, 26, 28, 24, 21], [33, 34, 36, 32, 31], [24, 23, 26, 24, 22], [1, 1, 1, 1, 1], [22, 35, 43, 26, 25], [21, 27, 28, 19, 47], [42, 86, 73, 39, 62], [29, 32, 34, 32, 25], [28, 29, 34, 31, 27], [40, 27, 32, 31, 28], [29, 57, 63, 26, 41], [29, 30, 32, 32, 27], [26, 32, 33, 32, 30], [20, 25, 31, 30, 23], [23, 22, 22, 23, 23], [23, 23, 25, 25, 21], [8, 13, 9, 7, 10], [32, 20, 25, 17, 19], [49, 76, 100, 46, 69], [25, 43, 43, 23, 56], [38, 68, 65, 39, 53], [42, 29, 30, 21, 30], [27, 38, 35, 30, 28], [28, 46, 52, 41, 42], [41, 24, 28, 22, 27], [45, 83, 71, 41, 52], [46, 28, 33, 21, 24], [35, 38, 42, 47, 34], [41, 71, 91, 41, 59], [38, 37, 45, 26, 38], [30, 33, 35, 33, 33], [34, 46, 53, 43, 42], [30, 29, 28, 22, 32], [38, 45, 50, 41, 44], [18, 22, 20, 19, 24], [36, 57, 68, 32, 52], [38, 73, 89, 36, 62], [35, 45, 48, 33, 44], [33, 37, 43, 29, 36], [46, 50, 59, 45, 49], [26, 28, 28, 31, 27], [50, 49, 64, 49, 55], [34, 62, 60, 32, 83], [37, 52, 54, 34, 43], [46, 45, 57, 28, 58], [39, 66, 93, 33, 50], [27, 30, 32, 30, 29], [37, 37, 45, 42, 35], [35, 44, 47, 39, 39], [23, 27, 28, 25, 23], [51, 73, 67, 36, 66], [25, 31, 30, 26, 29], [25, 28, 30, 21, 32], [21, 19, 22, 24, 19], [38, 28, 34, 34, 28], [29, 35, 36, 28, 35], [24, 36, 38, 29, 31], [26, 28, 30, 33, 28], [9, 25, 28, 11, 20], [31, 43, 43, 26, 52], [40, 24, 26, 25, 25], [25, 28, 30, 30, 25], [27, 48, 47, 24, 50], [33, 39, 43, 37, 38], [35, 58, 75, 35, 46], [51, 71, 96, 45, 62]]

In [246]:
z =np.array(SFec)
data2=pd.DataFrame({"S_0":z[:,0]})
for i in range(4):
    data2.insert(loc=i+1, column="S_{}".format(i+1), value=z[:,i+1])
#data2.insert(loc=7,column='Class',value=Data['subject'].to_numpy())
data2.head()

   S_0  S_1  S_2  S_3  S_4
0    2    2    2    2    3
1   30   29   35   29   30
2   17   14   17   11   16
3   24   27   30   26   25
4   20   40   37   24   24

In [247]:
y =np.array(Fec)
data1=pd.DataFrame({"In_0":y[:,0]})
for i in range(4):
    data1.insert(loc=i+1, column="In_{}".format(i+1), value=y[:,i+1])
#data1.insert(loc=5,column='Class',value=Data['Class'].to_numpy())
data1.head()

   In_0  In_1  In_2  In_3  In_4
0     3     2     3     4     4
1    51    44    51    54    39
2    35    24    32    32    24
3    59    47    60    70    39
4    53    56    63    71    55

In [248]:
Ac_fe=[]
acuracy=[]
Ac_domain2=[]
Ac_domain=[]

for it in range(10):
    p=[]
    q=[]

    p=random.sample(range(n), math.ceil(n*0.2))
    q=[]
    for i in range(n):
        if i not in p:
            q.append(i)
    class_60=lst_Class.copy()
    for d in p:
        class_60[d]=5
    for i in range(n):
        A[i][i]=class_60[i]
    Node_class=[0,1,2,3,4,5]
    F_vec=spatial_two (Node_class, A,n)
    x =np.array(F_vec)
    k=len(F_vec[0])
    data=pd.DataFrame({"a_0":x[:,0]})
    data.insert(loc=1, column="b_0", value=x[:,1])
    for i in range(1,k-1,2):
        data.insert(loc=i+1, column="a_{}".format(int((i+1)/2)), value=x[:,i+1])
        data.insert(loc=i+2, column="b_{}".format(int((i+1)/2)), value=x[:,i+2])

    data.insert(loc=k,column='Class',value=Class)
    feature=["a_0","b_0"]
    for i in range(1,k-1,2):
        feature.append("a_{}".format(int((i+1)/2)))
        feature.append("b_{}".format(int((i+1)/2)))

    X=data[feature] # Features
    y=data['Class']  # Labels
    X_train=X.iloc[q]
    X_test=X.iloc[p]
    y_train=y.iloc[q]
    y_test=y.iloc[p]

 
    scaler = StandardScaler()  
# Don't cheat - fit only on training data
    scaler.fit(X_train)  
    X_train = scaler.transform(X_train)  
# apply same transformation to test data
    X_test = scaler.transform(X_test)  
    clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
# Model Accuracy, how often is the classifier correct?
#print("Accuracy:",metrics.accuracy_score(y_test, y_pred)*100,"%")
    
    
    class_60=Class.copy()
    i=0
    for d in p:
        class_60[d]=y_pred[i]
        i=i+1
    #print(class_60)
    for i in range(n):
        A[i][i]=class_60[i]
    #print(A)
    Node_class=[0,1,2,3,4]
    F_vec=spatial_two (Node_class, A,n)
    x =np.array(F_vec)
    k=20
    data=pd.DataFrame({"a_0":x[:,0]})
    data.insert(loc=1, column="b_0", value=x[:,1])
    for i in range(1,k-1,2):
        data.insert(loc=i+1, column="a_{}".format(int((i+1)/2)), value=x[:,i+1])
        data.insert(loc=i+2, column="b_{}".format(int((i+1)/2)), value=x[:,i+2])

    data.insert(loc=k,column='Class',value=Data['Class'].to_numpy())
    feature=["a_0","b_0"]
    for i in range(1,k-1,2):
        feature.append("a_{}".format(int((i+1)/2)))
        feature.append("b_{}".format(int((i+1)/2)))

    X=data[feature] # Features
    y=data['Class']  # Labels
    X_train=X.iloc[q]
    X_test=X.iloc[p]
    y_train=y.iloc[q]
    y_test=y.iloc[p]
    scaler = StandardScaler()  
# Don't cheat - fit only on training data
    scaler.fit(X_train)  
    X_train = scaler.transform(X_train)  
# apply same transformation to test data
    X_test = scaler.transform(X_test)  
    clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    
    Ac_domain2.append(metrics.accuracy_score(y_test, y_pred)*100)
    result = pd.concat([data2,data1,data], axis=1)
    k=20
    feature=["a_0","b_0"]
    for i in range(1,k-1,2):
        feature.append("a_{}".format(int((i+1)/2)))
        feature.append("b_{}".format(int((i+1)/2)))
    for i in range(4):
        feature.append("S_{}".format(i))
    for j in range(4):
        feature.append("In_{}".format(j))
    #print(feature)
    X=result[feature] # Features
    y=result['Class']  # Labels
    X_train=X.iloc[q]
    X_test=X.iloc[p]
    y_train=y.iloc[q]
    y_test=y.iloc[p]

    scaler = StandardScaler()  
# Don't cheat - fit only on training data
    scaler.fit(X_train)  
    X_train = scaler.transform(X_train)  
# apply same transformation to test data
    X_test = scaler.transform(X_test)  
    clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    
    acuracy.append(metrics.accuracy_score(y_test, y_pred)*100)
    feature=[]
    for i in range(4):
        feature.append("S_{}".format(i))
    for j in range(4):
        feature.append("In_{}".format(j))
    #print(feature)
    X=result[feature] # Features
    y=result['Class']  # Labels
    X_train=X.iloc[q]
    X_test=X.iloc[p]
    y_train=y.iloc[q]
    y_test=y.iloc[p]
    scaler = StandardScaler()  
# Don't cheat - fit only on training data
    scaler.fit(X_train)  
    X_train = scaler.transform(X_train)  
# apply same transformation to test data
    X_test = scaler.transform(X_test)  
    clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    Ac_fe.append(metrics.accuracy_score(y_test, y_pred)*100)

In [249]:

mean_value = statistics.mean(Ac_domain2)
std_dev = statistics.stdev(Ac_domain2)
print("Spatial Only")
print("Mean:", mean_value)
print("Standard Deviation:", std_dev)

mean_value = statistics.mean(Ac_fe)
std_dev = statistics.stdev(Ac_fe)
print("Domain only")
print("Mean:", mean_value)
print("Standard Deviation:", std_dev)

mean_value = statistics.mean(acuracy)
std_dev = statistics.stdev(acuracy)
print("Accuracy using both")
print("Mean:", mean_value)
print("Standard Deviation:", std_dev)

Spatial Only
Mean: 52.972972972972975
Standard Deviation: 10.444235492749145
Domain only
Mean: 90.54054054054055
Standard Deviation: 5.589943083779667
Accuracy using both
Mean: 79.72972972972973
Standard Deviation: 4.809494708122212

# Texas

In [250]:
from urllib.request import urlopen
p_data=urlopen("https://raw.githubusercontent.com/class-contrast/NodeClassification/main/Datasets/WebKb/Texas/out1_graph_edges.txt")
er=[]
for line in p_data:
    output = line.decode()
    er.append(output)
myls=list(er)
mylist = [line.rstrip('\n') for line in myls]
mylist.pop(0)
print(mylist)

['56\t84', '56\t39', '56\t9', '56\t77', '56\t89', '56\t61', '56\t125', '56\t94', '56\t64', '56\t52', '56\t27', '56\t112', '56\t21', '56\t154', '56\t31', '56\t109', '56\t57', '56\t59', '56\t22', '56\t90', '56\t68', '56\t91', '56\t63', '56\t85', '56\t116', '56\t32', '56\t143', '56\t181', '56\t54', '56\t69', '56\t3', '56\t139', '56\t104', '56\t128', '56\t137', '56\t172', '56\t93', '56\t179', '56\t132', '56\t134', '56\t178', '56\t144', '56\t74', '56\t46', '56\t11', '56\t80', '56\t124', '56\t135', '56\t97', '56\t98', '56\t79', '56\t23', '56\t118', '56\t167', '56\t131', '56\t153', '56\t33', '56\t149', '56\t161', '56\t127', '56\t34', '56\t136', '56\t169', '56\t150', '56\t62', '56\t26', '56\t82', '56\t12', '56\t47', '56\t166', '56\t171', '56\t6', '56\t17', '56\t53', '56\t117', '56\t87', '56\t146', '56\t49', '56\t159', '56\t119', '56\t170', '56\t38', '56\t55', '56\t30', '56\t165', '56\t103', '56\t155', '56\t110', '56\t16', '56\t44', '56\t75', '56\t41', '56\t29', '56\t35', '56\t65', '56\t19', '56\t142', '56\t129', '56\t37', '56\t24', '56\t43', '56\t5', '56\t81', '56\t147', '84\t31', '84\t23', '84\t153', '84\t127', '84\t34', '84\t62', '84\t47', '84\t147', '39\t140', '106\t9', '89\t151', '61\t84', '114\t49', '83\t39', '83\t140', '83\t37', '125\t54', '64\t82', '10\t108', '182\t29', '140\t39', '140\t83', '140\t90', '45\t45', '45\t108', '108\t45', '108\t11', '108\t72', '73\t73', '73\t158', '73\t66', '158\t73', '107\t108', '126\t18', '126\t16', '126\t29', '57\t22', '57\t67', '57\t170', '57\t165', '57\t110', '57\t15', '57\t65', '59\t159', '59\t16', '120\t140', '120\t156', '156\t156', '99\t94', '99\t132', '99\t79', '90\t140', '90\t90', '63\t58', '175\t175', '85\t16', '111\t85', '0\t58', '0\t121', '141\t116', '141\t48', '116\t76', '54\t125', '139\t18', '18\t126', '172\t113', '1\t80', '148\t148', '148\t146', '148\t159', '134\t134', '144\t82', '105\t144', '180\t84', '180\t180', '180\t47', '180\t66', '60\t21', '60\t16', '36\t21', '36\t60', '74\t22', '74\t48', '46\t95', '4\t164', '4\t66', '4\t146', '164\t146', '11\t94', '11\t108', '80\t66', '176\t80', '28\t80', '28\t146', '122\t167', '163\t163', '163\t58', '79\t82', '23\t127', '23\t147', '151\t89', '151\t66', '151\t152', '133\t64', '133\t178', '133\t82', '133\t16', '173\t84', '173\t96', '173\t175', '173\t131', '173\t55', '173\t145', '173\t8', '131\t84', '131\t138', '131\t168', '131\t100', '131\t66', '168\t131', '100\t131', '51\t116', '161\t116', '2\t8', '127\t84', '127\t31', '127\t23', '127\t153', '127\t62', '127\t171', '127\t55', '127\t129', '34\t84', '34\t34', '34\t66', '42\t93', '42\t34', '7\t14', '7\t34', '78\t34', '78\t146', '50\t68', '50\t34', '50\t150', '58\t163', '58\t119', '58\t13', '58\t102', '58\t88', '67\t67', '177\t84', '177\t156', '177\t167', '82\t64', '82\t144', '82\t79', '82\t133', '47\t84', '47\t180', '95\t157', '95\t46', '95\t95', '95\t66', '95\t76', '66\t86', '72\t108', '171\t84', '171\t66', '171\t113', '171\t6', '171\t129', '17\t29', '86\t86', '53\t71', '117\t146', '87\t116', '159\t59', '159\t150', '159\t44', '119\t58', '55\t116', '30\t146', '30\t159', '25\t84', '25\t167', '145\t168', '160\t116', '40\t24', '13\t58', '13\t13', '123\t16', '44\t159', '70\t147', '15\t22', '15\t165', '15\t16', '15\t15', '15\t65', '92\t15', '20\t115', '20\t16', '20\t15', '20\t5', '174\t15', '75\t116', '41\t84', '41\t104', '41\t118', '41\t66', '162\t66', '162\t29', '101\t5', '29\t97', '29\t17', '29\t162', '102\t58', '102\t66', '102\t102', '88\t102', '130\t24', '81\t58']

In [126]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/joshem163/Node-Classification-Graph/main/DataSet/WebKb/Cornell/out1_graph_edges.txt', sep='\s+', header=None)
#df.to_csv('my_file.csv', header=None)
df.head()

         0        1
0  node_id  node_id
1      173       96
2      121       72
3       35       79
4        2      130

In [251]:
mynode=[]
i=0
for d in mylist:
    d=mylist[i].split("\t")
    mynode.append(int(d[0]))
    mynode.append(int(d[1]))
    i=i+1
#print(mynode)
node_ID1=np.unique(mynode)
node_ID=list(node_ID1)
print(node_ID)
n=len(node_ID)
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182]
183

In [252]:
A=np.zeros((n,n))
i=0
for d in mylist:
    d=mylist[i].split("\t")
    A[node_ID.index(int(d[0]))][node_ID.index(int(d[1]))]=1
    i=i+1;
print(" The adjacency Matrix")
print("=======================")
print(A)

 The adjacency Matrix
=======================
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [253]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/class-contrast/NodeClassification/main/Datasets/WebKb/Texas/out1_node_feature_label.txt',sep='\s+')
#df.to_csv('my_file.csv', header=None)
df.head()

   node_id                                            feature  label
0        0  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      3
1        1  0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,...      0
2        2  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      2
3        3  0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      3
4        4  0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...      4

In [254]:
fe=df["feature"].to_numpy()
lst_Class=df["label"].to_numpy()
lst_ID=df["node_id"].to_numpy()

lst_Fe=[]
for row in fe:
    d=row.split(',')
    fev=[]
    for j in range(len(d)):
            fev.append(int(d[j]))
    lst_Fe.append(fev)

In [256]:
fe_len=len(lst_Fe[0])
feature_names = ["w_{}".format(ii) for ii in range(fe_len)]
Data=pd.DataFrame(lst_Fe,columns=feature_names)
Data.insert(loc=fe_len,column='Class',value=lst_Class)
Data.head()

,w_0,w_1,w_2,w_3,w_4,w_5,w_6,w_7,w_8,w_9,...,w_1694,w_1695,w_1696,w_1697,w_1698,w_1699,w_1700,w_1701,w_1702,Class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [257]:
Class=lst_Class.copy()
Data_0=Data.loc[Data['Class'] == 0]
Data_1=Data.loc[Data['Class'] == 1]
Data_2=Data.loc[Data['Class'] == 2]
Data_3=Data.loc[Data['Class'] == 3]
Data_4=Data.loc[Data['Class'] == 4]
Data_1.head()

,w_0,w_1,w_2,w_3,w_4,w_5,w_6,w_7,w_8,w_9,...,w_1694,w_1695,w_1696,w_1697,w_1698,w_1699,w_1700,w_1701,w_1702,Class
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [260]:
Basis_0=[]
Basis_1=[]
Basis_2=[]
Basis_3=[]
Basis_4=[]
for i in range(fe_len):
    W="w_{}".format(i)
    Basis_0.append(max(Data_0[W].to_numpy()))
    Basis_1.append(max(Data_1[W].to_numpy()))
    Basis_2.append(max(Data_2[W].to_numpy()))
    Basis_3.append(max(Data_3[W].to_numpy()))
    Basis_4.append(max(Data_4[W].to_numpy()))
#W1=Data_0['w_0'].to_numpy()
#print(max(W1))
print(Basis_0)
count0=0
count1=0
for i in range(fe_len):
    if Basis_0[i]==1:
        count1=count1+1
    else:
        count0=count0+1
print(count0)
print(count1)

[1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0]
669
1034

In [261]:
SBasis_0=[]
SBasis_1=[]
SBasis_2=[]
SBasis_3=[]
SBasis_4=[]
for i in range(fe_len):
    W="w_{}".format(i)
    if list(Data_0[W].to_numpy()).count(1)>=int(len(Data_0.index)*0.2):
        SBasis_0.append(1)
    else:
        SBasis_0.append(0) 
    if list(Data_1[W].to_numpy()).count(1)>=int(len(Data_1.index)*0.2):
        SBasis_1.append(1)
    else:
        SBasis_1.append(0)
    if list(Data_2[W].to_numpy()).count(1)>=int(len(Data_2.index)*0.2):
        SBasis_2.append(1)
    else:
        SBasis_2.append(0)
    if list(Data_3[W].to_numpy()).count(1)>=int(len(Data_3.index)*0.2):
        SBasis_3.append(1)
    else:
        SBasis_3.append(0)
    if list(Data_4[W].to_numpy()).count(1)>=int(len(Data_4.index)*0.2):
        SBasis_4.append(1)
    else:
        SBasis_4.append(0)

#W1=Data_0['w_0'].to_numpy()
#print(max(W1))
print(SBasis_3)
count0=0
count1=0
for i in range(fe_len):
    if SBasis_2[i]==1:
        count1=count1+1
    else:
        count0=count0+1
print(count0)
print(count1)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1534
169

In [263]:
Fec=[]
for i in range(n):
    vec=[]
    f=Data.loc[i, feature_names].values.flatten().tolist()
    count=0
    count1=0
    count2=0
    count3=0
    count4=0
    for j in range(fe_len):
        if f[j]==1 and Basis_0[j]==1:
            count=count+1;
        if f[j]==1 and Basis_1[j]==1:
            count1=count1+1;
        if f[j]==1 and Basis_2[j]==1:
            count2=count2+1;
        if f[j]==1 and Basis_3[j]==1:
            count3=count3+1;
        if f[j]==1 and Basis_4[j]==1:
            count4=count4+1;

    vec.append(count)
    vec.append(count1)
    vec.append(count2)
    vec.append(count3)
    vec.append(count4)

    #print(f)
    f.clear()
    Fec.append(vec)
print(Fec)

[[39, 20, 40, 46, 40], [231, 25, 155, 192, 161], [25, 20, 26, 26, 26], [61, 17, 50, 77, 64], [81, 29, 62, 77, 88], [85, 33, 68, 100, 83], [81, 20, 56, 72, 61], [56, 14, 39, 49, 40], [75, 21, 63, 93, 75], [46, 22, 39, 44, 36], [32, 22, 31, 39, 37], [72, 34, 65, 77, 69], [64, 28, 56, 77, 62], [72, 33, 65, 80, 74], [128, 31, 104, 154, 118], [133, 34, 111, 142, 160], [127, 26, 100, 157, 116], [58, 30, 58, 66, 63], [54, 17, 32, 46, 40], [59, 27, 47, 79, 51], [280, 26, 174, 223, 206], [53, 28, 53, 65, 56], [43, 25, 41, 46, 44], [57, 30, 48, 66, 57], [77, 25, 63, 104, 72], [43, 45, 41, 45, 44], [64, 15, 55, 88, 66], [90, 25, 80, 122, 86], [19, 14, 19, 19, 19], [125, 25, 148, 125, 115], [49, 25, 47, 59, 53], [61, 31, 54, 69, 62], [84, 28, 70, 86, 99], [45, 28, 42, 50, 46], [70, 26, 67, 82, 87], [48, 24, 43, 52, 56], [61, 21, 68, 62, 60], [65, 24, 57, 79, 63], [41, 24, 40, 45, 41], [50, 28, 45, 58, 51], [143, 19, 86, 121, 89], [100, 26, 80, 116, 126], [90, 17, 62, 78, 66], [64, 25, 55, 77, 60], [41, 25, 37, 45, 40], [71, 30, 62, 77, 64], [45, 26, 47, 43, 45], [63, 27, 70, 68, 65], [152, 24, 105, 130, 102], [60, 28, 51, 65, 59], [64, 16, 50, 59, 53], [15, 14, 14, 15, 14], [53, 24, 42, 56, 48], [51, 23, 44, 59, 43], [89, 31, 77, 114, 91], [73, 29, 65, 85, 72], [54, 24, 48, 52, 45], [70, 28, 80, 77, 75], [145, 24, 167, 155, 124], [84, 31, 77, 85, 92], [51, 27, 44, 55, 61], [109, 28, 97, 134, 146], [76, 28, 64, 83, 69], [62, 28, 57, 76, 64], [70, 31, 67, 77, 68], [79, 29, 72, 105, 81], [433, 29, 276, 340, 301], [46, 29, 43, 50, 45], [75, 20, 61, 94, 66], [44, 25, 44, 51, 45], [55, 17, 52, 61, 67], [46, 18, 33, 56, 42], [53, 25, 49, 55, 50], [73, 28, 64, 71, 79], [40, 27, 42, 42, 42], [49, 12, 38, 57, 39], [73, 19, 52, 66, 56], [40, 25, 36, 46, 42], [66, 18, 52, 60, 54], [77, 33, 76, 87, 79], [50, 24, 47, 55, 58], [47, 15, 37, 61, 42], [136, 29, 148, 129, 119], [126, 27, 117, 131, 153], [80, 30, 89, 83, 84], [58, 31, 60, 66, 68], [68, 29, 56, 80, 67], [36, 20, 35, 41, 35], [172, 19, 117, 151, 113], [62, 30, 60, 74, 67], [85, 31, 76, 93, 79], [46, 26, 41, 51, 49], [196, 21, 128, 151, 139], [84, 15, 68, 95, 70], [62, 23, 63, 83, 61], [61, 27, 58, 63, 67], [100, 37, 82, 115, 94], [45, 24, 39, 54, 44], [93, 30, 75, 112, 91], [72, 26, 60, 76, 82], [66, 18, 53, 62, 51], [76, 16, 53, 63, 57], [58, 31, 49, 60, 61], [58, 30, 55, 62, 58], [57, 26, 57, 69, 60], [73, 18, 54, 67, 56], [89, 30, 80, 94, 101], [66, 21, 57, 76, 54], [57, 21, 65, 63, 57], [51, 27, 47, 55, 49], [43, 27, 38, 45, 42], [69, 20, 47, 62, 51], [81, 30, 74, 102, 87], [56, 16, 37, 50, 39], [91, 19, 70, 77, 67], [27, 8, 22, 28, 25], [95, 25, 79, 129, 83], [90, 28, 83, 95, 101], [49, 24, 45, 58, 50], [98, 28, 74, 116, 84], [48, 26, 42, 56, 52], [97, 25, 68, 85, 66], [37, 22, 34, 38, 37], [62, 16, 43, 54, 44], [58, 30, 54, 75, 61], [69, 30, 81, 77, 67], [89, 30, 78, 93, 101], [59, 15, 64, 64, 54], [56, 26, 48, 63, 58], [111, 37, 96, 118, 100], [84, 21, 58, 76, 60], [93, 33, 81, 100, 109], [56, 25, 49, 70, 56], [77, 25, 66, 73, 85], [53, 27, 39, 57, 46], [89, 25, 78, 89, 98], [32, 24, 31, 32, 31], [25, 8, 20, 34, 25], [42, 17, 35, 40, 35], [72, 33, 65, 88, 64], [132, 32, 150, 134, 115], [51, 20, 44, 60, 39], [58, 25, 53, 82, 59], [20, 10, 18, 28, 23], [130, 35, 114, 161, 130], [59, 29, 54, 67, 64], [74, 18, 65, 102, 73], [75, 21, 83, 71, 68], [48, 30, 45, 59, 49], [66, 28, 62, 79, 85], [77, 29, 64, 88, 72], [79, 24, 68, 79, 86], [58, 28, 54, 68, 64], [92, 32, 81, 104, 87], [45, 26, 38, 53, 46], [50, 15, 37, 63, 46], [162, 24, 105, 130, 106], [21, 9, 21, 19, 19], [138, 22, 81, 109, 89], [134, 27, 152, 133, 123], [14, 13, 14, 15, 14], [29, 24, 29, 29, 27], [61, 29, 56, 66, 68], [90, 34, 79, 100, 87], [67, 19, 52, 64, 57], [56, 33, 52, 61, 55], [55, 14, 47, 66, 50], [131, 30, 149, 131, 110], [49, 17, 38, 47, 39], [26, 21, 26, 27, 26], [47, 28, 44, 51, 45], [82, 31, 80, 88, 91], [128, 29, 111, 148, 113], [20, 15, 20, 20, 20], [210, 27, 141, 173, 156], [62, 32, 54, 68, 65], [18, 15, 18, 18, 18], [84, 36, 72, 82, 89], [66, 26, 58, 77, 67], [66, 26, 54, 79, 62], [77, 32, 73, 85, 90], [61, 28, 56, 70, 63], [41, 23, 37, 45, 41]]

In [264]:
SFec=[]
for i in range(n):
    Svec=[]
    f=Data.loc[i, feature_names].values.flatten().tolist()
    count=0
    count1=0
    count2=0
    count3=0
    count4=0

    for j in range(1703):
        if f[j]==1 and SBasis_0[j]==1:
            count=count+1;
        if f[j]==1 and SBasis_1[j]==1:
            count1=count1+1;
        if f[j]==1 and SBasis_2[j]==1:
            count2=count2+1;
        if f[j]==1 and SBasis_3[j]==1:
            count3=count3+1;
        if f[j]==1 and SBasis_4[j]==1:
            count4=count4+1;

    Svec.append(count)
    Svec.append(count1)
    Svec.append(count2)
    Svec.append(count3)
    Svec.append(count4)

    #print(f)
    f.clear()
    SFec.append(Svec)
print(SFec)

[[24, 46, 27, 24, 27], [101, 231, 75, 37, 60], [20, 26, 24, 21, 22], [30, 77, 29, 31, 38], [45, 88, 48, 37, 56], [46, 100, 47, 43, 52], [54, 81, 37, 29, 37], [38, 56, 25, 16, 21], [32, 93, 35, 34, 35], [36, 46, 29, 28, 27], [24, 39, 24, 32, 31], [45, 77, 51, 46, 47], [36, 77, 34, 31, 37], [44, 80, 50, 44, 46], [53, 154, 56, 44, 52], [51, 160, 60, 42, 69], [53, 157, 55, 37, 51], [39, 66, 45, 44, 46], [33, 54, 21, 21, 24], [28, 79, 32, 33, 30], [101, 280, 76, 39, 68], [34, 65, 40, 38, 40], [28, 46, 35, 31, 33], [37, 66, 39, 40, 40], [38, 104, 41, 34, 38], [27, 45, 39, 33, 34], [23, 88, 31, 24, 31], [43, 122, 46, 35, 43], [19, 19, 18, 15, 18], [47, 148, 68, 32, 47], [32, 59, 38, 32, 35], [38, 69, 40, 43, 44], [38, 99, 47, 30, 46], [33, 50, 31, 37, 38], [40, 87, 40, 34, 47], [26, 56, 29, 23, 32], [34, 68, 48, 26, 36], [35, 79, 37, 30, 39], [28, 45, 32, 31, 32], [36, 58, 37, 35, 41], [72, 143, 41, 28, 37], [46, 126, 48, 40, 58], [44, 90, 37, 23, 29], [34, 77, 35, 32, 34], [31, 45, 32, 30, 33], [40, 77, 52, 40, 49], [27, 47, 38, 25, 31], [30, 70, 56, 29, 37], [69, 152, 51, 34, 49], [36, 65, 38, 35, 44], [41, 64, 31, 19, 29], [14, 15, 14, 14, 14], [38, 56, 30, 29, 32], [30, 59, 31, 30, 33], [41, 114, 47, 40, 49], [41, 85, 44, 39, 49], [32, 54, 36, 28, 30], [35, 80, 50, 32, 42], [59, 167, 83, 32, 48], [48, 92, 55, 41, 53], [36, 61, 32, 32, 42], [44, 146, 55, 38, 57], [47, 83, 40, 42, 44], [35, 76, 37, 38, 40], [44, 77, 46, 43, 45], [39, 105, 44, 44, 43], [104, 433, 108, 39, 72], [32, 50, 33, 33, 35], [28, 94, 33, 29, 29], [26, 51, 35, 31, 31], [22, 67, 30, 19, 34], [26, 56, 26, 21, 23], [32, 55, 38, 33, 36], [47, 79, 45, 41, 54], [29, 42, 30, 30, 32], [18, 57, 21, 19, 17], [57, 73, 31, 25, 34], [29, 46, 28, 34, 34], [38, 66, 32, 17, 27], [47, 87, 55, 49, 52], [36, 58, 31, 32, 39], [18, 61, 23, 21, 19], [61, 148, 92, 36, 53], [51, 153, 64, 30, 65], [35, 89, 62, 32, 40], [33, 68, 40, 36, 48], [38, 80, 40, 36, 40], [24, 41, 26, 25, 25], [68, 172, 50, 25, 41], [39, 74, 41, 38, 46], [51, 93, 53, 44, 53], [28, 51, 35, 33, 37], [77, 196, 61, 28, 50], [35, 95, 32, 25, 29], [38, 83, 41, 32, 39], [42, 67, 43, 35, 51], [48, 115, 52, 45, 56], [30, 54, 30, 31, 31], [40, 112, 42, 43, 49], [36, 82, 42, 32, 48], [45, 66, 32, 20, 30], [49, 76, 33, 21, 29], [42, 61, 41, 39, 47], [41, 62, 44, 41, 41], [35, 69, 40, 36, 38], [51, 73, 32, 27, 31], [43, 101, 47, 41, 59], [36, 76, 34, 29, 29], [31, 65, 46, 20, 31], [30, 55, 37, 36, 37], [26, 45, 31, 30, 30], [42, 69, 36, 23, 28], [42, 102, 53, 41, 46], [46, 56, 24, 20, 26], [51, 91, 40, 22, 37], [12, 28, 13, 13, 13], [37, 129, 40, 35, 35], [42, 101, 51, 36, 55], [34, 58, 36, 34, 37], [46, 116, 49, 34, 41], [35, 56, 36, 33, 37], [55, 97, 39, 34, 40], [28, 38, 30, 28, 30], [39, 62, 29, 20, 26], [36, 75, 40, 37, 41], [34, 81, 55, 37, 46], [44, 101, 50, 37, 51], [24, 64, 44, 20, 26], [32, 63, 32, 32, 34], [52, 118, 63, 49, 53], [56, 84, 37, 25, 34], [49, 109, 55, 43, 59], [36, 70, 41, 34, 42], [40, 85, 45, 30, 49], [28, 57, 30, 33, 32], [48, 98, 50, 38, 59], [25, 32, 27, 25, 28], [14, 34, 14, 13, 13], [34, 42, 27, 21, 27], [37, 88, 44, 39, 43], [52, 150, 80, 40, 51], [26, 60, 27, 26, 25], [28, 82, 32, 34, 35], [10, 28, 14, 15, 14], [60, 161, 61, 45, 58], [39, 67, 40, 38, 45], [31, 102, 34, 26, 32], [26, 83, 57, 23, 31], [27, 59, 35, 31, 35], [38, 85, 39, 38, 50], [41, 88, 43, 40, 44], [42, 86, 45, 31, 41], [35, 68, 41, 35, 44], [52, 104, 54, 47, 52], [33, 53, 31, 38, 36], [18, 63, 24, 23, 22], [79, 162, 53, 34, 44], [13, 21, 15, 10, 13], [56, 138, 42, 27, 36], [61, 152, 82, 34, 50], [14, 15, 13, 13, 14], [22, 29, 27, 27, 26], [40, 68, 46, 37, 51], [53, 100, 51, 45, 49], [48, 67, 32, 25, 34], [40, 61, 43, 39, 40], [21, 66, 24, 21, 25], [48, 149, 78, 30, 49], [39, 49, 29, 22, 29], [20, 27, 21, 23, 23], [31, 51, 34, 34, 35], [49, 91, 52, 43, 63], [48, 148, 56, 38, 45], [18, 20, 19, 15, 17], [75, 210, 64, 34, 57], [42, 68, 45, 41, 45], [18, 18, 16, 16, 17], [37, 89, 52, 30, 49], [36, 77, 41, 34, 40], [32, 79, 38, 36, 36], [41, 90, 51, 35, 49], [35, 70, 42, 36, 43], [26, 45, 26, 28, 30]]

In [265]:
z =np.array(SFec)
data2=pd.DataFrame({"S_0":z[:,0]})
for i in range(4):
    data2.insert(loc=i+1, column="S_{}".format(i+1), value=z[:,i+1])
#data2.insert(loc=7,column='Class',value=Data['subject'].to_numpy())
data2.head()

   S_0  S_1  S_2  S_3  S_4
0   24   46   27   24   27
1  101  231   75   37   60
2   20   26   24   21   22
3   30   77   29   31   38
4   45   88   48   37   56

In [266]:
y =np.array(Fec)
data1=pd.DataFrame({"In_0":y[:,0]})
for i in range(4):
    data1.insert(loc=i+1, column="In_{}".format(i+1), value=y[:,i+1])
#data1.insert(loc=5,column='Class',value=Data['Class'].to_numpy())
data1.head()

   In_0  In_1  In_2  In_3  In_4
0    39    20    40    46    40
1   231    25   155   192   161
2    25    20    26    26    26
3    61    17    50    77    64
4    81    29    62    77    88

In [281]:
Ac_fe=[]
acuracy=[]
Ac_domain2=[]
Ac_domain=[]

for it in range(10):
    p=[]
    q=[]

    p=random.sample(range(n), math.ceil(n*0.2))
    q=[]
    for i in range(n):
        if i not in p:
            q.append(i)
    if 25 in p:
        q.append(25)
        p.remove(25)
    class_60=lst_Class.copy()
    for d in p:
        class_60[d]=5
    for i in range(n):
        A[i][i]=class_60[i]
    Node_class=[0,1,2,3,4,5]
    F_vec=spatial_two (Node_class, A,n)
    x =np.array(F_vec)
    k=len(F_vec[0])
    data=pd.DataFrame({"a_0":x[:,0]})
    data.insert(loc=1, column="b_0", value=x[:,1])
    for i in range(1,k-1,2):
        data.insert(loc=i+1, column="a_{}".format(int((i+1)/2)), value=x[:,i+1])
        data.insert(loc=i+2, column="b_{}".format(int((i+1)/2)), value=x[:,i+2])

    data.insert(loc=k,column='Class',value=Class)
    feature=["a_0","b_0"]
    for i in range(1,k-1,2):
        feature.append("a_{}".format(int((i+1)/2)))
        feature.append("b_{}".format(int((i+1)/2)))

    X=data[feature] # Features
    y=data['Class']  # Labels
    X_train=X.iloc[q]
    X_test=X.iloc[p]
    y_train=y.iloc[q]
    y_test=y.iloc[p]

 
    scaler = StandardScaler()  
# Don't cheat - fit only on training data
    scaler.fit(X_train)  
    X_train = scaler.transform(X_train)  
# apply same transformation to test data
    X_test = scaler.transform(X_test)  
    clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
# Model Accuracy, how often is the classifier correct?
#print("Accuracy:",metrics.accuracy_score(y_test, y_pred)*100,"%")
    
    
    class_60=Class.copy()
    i=0
    for d in p:
        class_60[d]=y_pred[i]
        i=i+1
    #print(class_60)
    for i in range(n):
        A[i][i]=class_60[i]
    #print(A)
    Node_class=[0,1,2,3,4]
    F_vec=spatial_two (Node_class, A,n)
    x =np.array(F_vec)
    k=len(F_vec[0])
    data=pd.DataFrame({"a_0":x[:,0]})
    data.insert(loc=1, column="b_0", value=x[:,1])
    for i in range(1,k-1,2):
        data.insert(loc=i+1, column="a_{}".format(int((i+1)/2)), value=x[:,i+1])
        data.insert(loc=i+2, column="b_{}".format(int((i+1)/2)), value=x[:,i+2])

    data.insert(loc=k,column='Class',value=Data['Class'].to_numpy())
    feature=["a_0","b_0"]
    for i in range(1,k-1,2):
        feature.append("a_{}".format(int((i+1)/2)))
        feature.append("b_{}".format(int((i+1)/2)))

    X=data[feature] # Features
    y=data['Class']  # Labels
    X_train=X.iloc[q]
    X_test=X.iloc[p]
    y_train=y.iloc[q]
    y_test=y.iloc[p]
    scaler = StandardScaler()  
# Don't cheat - fit only on training data
    scaler.fit(X_train)  
    X_train = scaler.transform(X_train)  
# apply same transformation to test data
    X_test = scaler.transform(X_test)  
    clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    
    Ac_domain2.append(metrics.accuracy_score(y_test, y_pred)*100)
    result = pd.concat([data2,data1,data], axis=1)
    k=20
    feature=["a_0","b_0"]
    for i in range(1,k-1,2):
        feature.append("a_{}".format(int((i+1)/2)))
        feature.append("b_{}".format(int((i+1)/2)))
    for i in range(4):
        feature.append("S_{}".format(i))
    for j in range(4):
        feature.append("In_{}".format(j))
    #print(feature)
    X=result[feature] # Features
    y=result['Class']  # Labels
    X_train=X.iloc[q]
    X_test=X.iloc[p]
    y_train=y.iloc[q]
    y_test=y.iloc[p]

    scaler = StandardScaler()  
# Don't cheat - fit only on training data
    scaler.fit(X_train)  
    X_train = scaler.transform(X_train)  
# apply same transformation to test data
    X_test = scaler.transform(X_test)  
    clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    
    acuracy.append(metrics.accuracy_score(y_test, y_pred)*100)
    feature=[]
    for i in range(4):
        feature.append("S_{}".format(i))
    for j in range(4):
        feature.append("In_{}".format(j))
    #print(feature)
    X=result[feature] # Features
    y=result['Class']  # Labels
    X_train=X.iloc[q]
    X_test=X.iloc[p]
    y_train=y.iloc[q]
    y_test=y.iloc[p]
    scaler = StandardScaler()  
# Don't cheat - fit only on training data
    scaler.fit(X_train)  
    X_train = scaler.transform(X_train)  
# apply same transformation to test data
    X_test = scaler.transform(X_test)  
    clf = MLPClassifier(solver='adam', alpha=1e-5, hidden_layer_sizes=(700,), random_state=1,max_iter=10000, warm_start=True)
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    Ac_fe.append(metrics.accuracy_score(y_test, y_pred)*100)

In [282]:

mean_value = statistics.mean(Ac_domain2)
std_dev = statistics.stdev(Ac_domain2)
print("Spatial Only")
print("Mean:", mean_value)
print("Standard Deviation:", std_dev)

mean_value = statistics.mean(Ac_fe)
std_dev = statistics.stdev(Ac_fe)
print("Domain only")
print("Mean:", mean_value)
print("Standard Deviation:", std_dev)

mean_value = statistics.mean(acuracy)
std_dev = statistics.stdev(acuracy)
print("Accuracy using both")
print("Mean:", mean_value)
print("Standard Deviation:", std_dev)

Spatial Only
Mean: 74.27177177177177
Standard Deviation: 4.898267505566394
Domain only
Mean: 89.96246246246247
Standard Deviation: 5.871667649440834
Accuracy using both
Mean: 85.11261261261261
Standard Deviation: 5.2600257198302725